<!-- Menu -->
<div class="custom_menu">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 ">
      <button id="collapsediv" hidden (click)="collapseAll()">Collapse All</button>
      <button data-toggle="tooltip" data-placement="top" title="List view" class="normal"><i class="fa fa-list" aria-hidden="true"></i></button>
      <button (click)="renderStoryForm()" data-toggle="tooltip" data-placement="top" title="Add Story/Task" class="normal bluebutton"><i class="fa fa-plus" aria-hidden="true"></i></button>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 ">
      <div class="pull-right">
        <div class="customdropdown customdropdownheader" id="filterDropdown">
          <p-dropdown [style]="{'width':'220px'}" [(ngModel)]="selectedFilter" (onChange)="filterDashboard()" [displayOptions]="FilterOptionToDisplay" [options]="FilterOption" class="dropdown_wrap">
      
          </p-dropdown>

        </div>
      </div>
    </div>
  </div>

 </div>

<ngx-datatable
        #myTable 
        class="material expandable customdatatable"
        [rows]="rows"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [externalSorting]="true"
        [count]="count"
        [offset]="offset"
        [limit]="limit"
        [sortable]= "true"
        (page)="onPage($event)"
        (sort)="onSort($event)"
        >
<!-- Row Detail Template "-->
        <ngx-datatable-row-detail  [rowHeight]="auto" #myDetailRow>
            <ng-template let-row="row" ngx-datatable-row-detail-template>
              <div class="story_tasks">
                   <app-childtask ticketId="{{row[0].field_value}}" projectId="{{projectId}}"></app-childtask>
           </div>
           </ng-template>
        </ngx-datatable-row-detail>
<!-- Column Template -->
<!--The table column(s) width take dynamically.
Row classes are also dynamically. These classes are pass to service layer-->
 <ngx-datatable-column  *ngFor="let column of columns;let i=index;" name="{{column.name}}" prop="{{column.sortby}}" [resizeable]="false"
  [flexGrow]="column.flexGrow">
  <ng-template  class="foo" let-row="row" ngx-datatable-cell-template>
    <div class="{{column.class}} " *ngIf="row[i].field_name!='arrow'" >
      <!--(click)=="showStoryDetail(row)"-->
      <!--This img tag belongs to Ticket Id-->
      <img *ngIf="row[i].other_data.planlevel==1" src="assets/images/story-icon.png"  />
      <img *ngIf="row[i].other_data.planlevel==2" src="assets/images/task-icon.png" />
       <!--This img tag belongs to Assigned to column i.e UserName and Profile Pic -->
      <img id="{{i+'-'+row.$$index+'_assignedto'}}" *ngIf="row[i].field_name=='assignedto' && row[i].other_data!=''" data-toggle="tooltip" data-placement="top" class="profilepic_table"
        src="{{row[i].other_data}}" data-toggle="tooltip" data-placement="top" title=" {{row[i].field_value}}" /> 
           
      
      <!--<span class="badge" style="position: relative;left:0" *ngIf="row[i].field_name=='Title' && row[i].other_data>0" data-toggle="tooltip" data-placement="top" title="Task count">{{row[i].other_data}}</span>  
     
      <!--  <p *ngIf="row[i].field_name=='workflow'" ></p> -->
         <div class="stateStyle" *ngIf="row[i].field_name=='workflow'" id="{{i+'-'+row.$$index+'_workflow'}}">{{row[i].other_data}} </div>
        <span [ngSwitch]="row[i].render_type" >
         <span  
              (click)="(row[i].field_name=='Id') ? showStoryDetail(row):''"
              title="Double click to edit"  id="{{row[i].field_name}}_{{row[0].field_value}}_span"
              (dblclick)="editThisField($event,i,row[i].field_id,row[i].field_name,row[i].render_type,i +'-'+row.$$index,row)" [hidden]="editing[i +'-'+row.$$index]" >
<i *ngIf="row[i].field_name=='priority'" class="fa fa-circle {{row[i].field_value}}" aria-hidden="true"></i>
              {{(row[i].field_value === "" ) ? '--': row[i].field_value}}
 </span>                     
            <input [hidden]="!editing[i +'-'+row.$$index]" *ngSwitchCase="'text'" class="editinput" (blur)="closeTitleEdit($event.target.value,row[i].field_name+'_'+row[0].field_value+'_span',i,row[i].render_type,row[i].field_id,i +'-'+row.$$index,row)" id='{{row[i].field_name}}_{{i}}' type="{{row[i].render_type}}" value="{{row[i].field_value}}" />
           
            <p-calendar [hidden]="!editing[i +'-'+row.$$index]" *ngSwitchCase="'date'" [(ngModel)]="dateVal" (onSelect)="restoreField($event,row[i].field_name+'_'+row[0].field_value+'_span',i,row[i].render_type,row[i].field_id,i +'-'+row.$$index,row)" class="primeDateComponent" name="date_{{i}}"   id='{{row[i].field_name}}_{{i}}' [readonlyInput]="true" [minDate]="minDate" [showIcon]="true"  dateFormat="M-dd-yy" >
                        </p-calendar> 
                        <span [hidden]="!editing[i +'-'+row.$$index]" class="customdropdown">
                            <p-dropdown class="inlineblock dropdown_wrap" *ngSwitchCase="'select'" [style]="{'width':'100%'}" [ngModel]="row[i].value_id"   name="dropdownContainer_{{i}}"  id="{{row[i].field_name}}_{{row[0].field_value}}_drop" (onBlur)="selectBlurField($event,i)" (onChange)="restoreField($event,row[i].field_name+'_'+row[0].field_value+'_span',i,row[i].render_type,row[i].field_id,i +'-'+row.$$index,row)"  [displayOptions]="dropDisplayList" [options]="dropList" >
                            </p-dropdown>
                            <input *ngSwitchCase="'select'" type="hidden" id="{{row[i].field_name}}_{{row[0].field_value}}_currentSelected">
                        </span> 
                      </span>
     <span class="badge"  *ngIf="row[i].field_name=='Id' && row[i].other_data.totalSubtasks>0" data-toggle="tooltip" data-placement="top" title="Task count">{{row[i].other_data.totalSubtasks}}</span>
        

      <!--This i tag belongs to priority to column -->
      <!-- End-->
       </div>
       <div *ngIf="row[i].field_name =='arrow'" class="{{column.class}}" style=" margin-right: 20px;">
             <a  *ngIf="row[i].other_data>0"
              href="javascript:void(0)"
              [class.fa-chevron-down]="!row.$$expanded"
              [class.fa-chevron-up]="row.$$expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)"
              >
            </a>
     </div>
</ng-template>
</ngx-datatable-column>

<!-- Column Template -->

</ngx-datatable>


