customdropdownheader .ui-widget{font-size:16px}
.stateStyle{
  color:#333;font-size:13px!important;
}

.filterlabel_status{ border:solid 1px #c1c7cd; color: #637282; line-height: 30px; border-radius:100px; padding: 0px 15px;}

.filterlabel_status span:nth-child(even) {color: #695ea5;margin:0px 10px;}