<!-- Menu -->
<div class="custom_menu">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 ">
      <button id="collapsediv" hidden (click)="collapseAll()">Collapse All</button>
      <button data-toggle="tooltip" data-placement="top" title="List view" class="normal"><i class="fa fa-list" aria-hidden="true"></i></button>
      <button (click)="renderStoryForm()" data-toggle="tooltip" data-placement="top" title="Add Story/Task" class="normal bluebutton"><i class="fa fa-plus" aria-hidden="true"></i></button>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 ">
      <div class="pull-right">
        <div class="customdropdown customdropdownheader" id="filterDropdown">
          <p-dropdown [style]="{'width':'220px'}" [(ngModel)]="selectedFilter" (onChange)="filterDashboard()" [displayOptions]="FilterOptionToDisplay" [options]="FilterOption">
      
          </p-dropdown>

        </div>
      </div>
    </div>
  </div>

</div>

<ngx-datatable
        #myTable 
        class="material expandable customdatatable"
        [rows]="rows"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [externalSorting]="true"
        [count]="count"
        [offset]="offset"
        [limit]="limit"
        [sortable]= "true"
        (page)="onPage($event)"
        (sort)="onSort($event)"
        >
<!-- Row Detail Template "-->
        <ngx-datatable-row-detail  [rowHeight]="auto" #myDetailRow>
            <ng-template let-row="row" ngx-datatable-row-detail-template>
              <div class="story_tasks">
                <ngx-datatable
                    class="material expandable customdatatable"
                    [rows]="row1"
                    [columnMode]="'flex'"
                    [headerHeight]="0"
                    [footerHeight]="0"
                    [rowHeight]="'auto'"
                    [externalPaging]="false"
                    [externalSorting]="false"
                    (activate)="onActivate($event)"
                     [messages]="{emptyMessage: ''}"
                >
                <ngx-datatable-column *ngFor="let column of columns;let j=index;" name="{{column.name}}" prop="{{column.sortby}}" [resizeable]="false"
                  [flexGrow]="column.flexGrow">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="{{column.class}}">
                      <img *ngIf="row[j].other_data.planlevel==1" src="assets/images/story-icon.png" />
                      <img *ngIf="row[j].other_data.planlevel==2" src="assets/images/task-icon.png" /> 
                      <img *ngIf="row[j].field_name=='assignedto' && row[j].other_data!=''" data-toggle="tooltip" data-placement="top" class="profilepic_table"
                        src="{{row[j].other_data}}" data-toggle="tooltip" data-placement="top" title=" {{row[j].field_value}}"  /> 
                       <div class="stateStyle"  *ngIf="row[j].field_name=='workflow'" >{{row[j].other_data}}</div>
                      {{row[j].field_value}}
                       
                      <i *ngIf="row[j].field_name=='priority'" class="fa fa-circle {{row[j].field_value}}" aria-hidden="true"></i>
                    </div> 
                  </ng-template>
                </ngx-datatable-column>
                </ngx-datatable>
           </div>
           </ng-template>
        </ngx-datatable-row-detail>
<!-- Column Template -->
<!--The table column(s) width take dynamically.
Row classes are also dynamically. These classes are pass to service layer-->
 <ngx-datatable-column *ngFor="let column of columns;let i=index;" name="{{column.name}}" prop="{{column.sortby}}" [resizeable]="false"
  [flexGrow]="column.flexGrow">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <div class="{{column.class}} " *ngIf="row[i].field_name!='arrow'" (click)="showStoryDetail(row)">
      
      <!--This img tag belongs to Ticket Id-->
      <img *ngIf="row[i].other_data.planlevel==1" src="assets/images/story-icon.png"  />
      <img *ngIf="row[i].other_data.planlevel==2" src="assets/images/task-icon.png" />
       <!--This img tag belongs to Assigned to column i.e UserName and Profile Pic -->
      <img *ngIf="row[i].field_name=='assignedto' && row[i].other_data!=''" data-toggle="tooltip" data-placement="top" class="profilepic_table"
        src="{{row[i].other_data}}" data-toggle="tooltip" data-placement="top" title=" {{row[i].field_value}}" /> 
           
      
      <!--<span class="badge" style="position: relative;left:0" *ngIf="row[i].field_name=='Title' && row[i].other_data>0" data-toggle="tooltip" data-placement="top" title="Task count">{{row[i].other_data}}</span>  
     
      <!--  <p *ngIf="row[i].field_name=='workflow'" ></p> -->
         <div class="stateStyle"  *ngIf="row[i].field_name=='workflow'" >{{row[i].other_data}}</div>
          {{row[i].field_value}}
      
     <span class="badge"  *ngIf="row[i].field_name=='Id' && row[i].other_data.totalSubtasks>0" data-toggle="tooltip" data-placement="top" title="Task count">{{row[i].other_data.totalSubtasks}}</span>
        

      <!--This i tag belongs to priority to column -->
      <i *ngIf="row[i].field_name=='priority'" class="fa fa-circle {{row[i].field_value}}" aria-hidden="true"></i>
      <!-- End-->
       </div>
       <div *ngIf="row[i].field_name =='arrow'" class="{{column.class}}" style=" margin-right: 20px;">
             <a  *ngIf="row[i].other_data>0"
              href="javascript:void(0)"
              [class.fa-chevron-down]="!row.$$expanded"
              [class.fa-chevron-up]="row.$$expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)"
              >
            </a>
     </div>
</ng-template>
</ngx-datatable-column>

<!-- Column Template -->

</ngx-datatable>


