<div *ngIf="chartType == 'pie'" style="display: block">
    <ngx-charts-pie-chart *ngIf="pieChartData.length!=0"
                [view]="view" 
                [results]="pieChartData"
                [legend]="showLegend"
                [explodeSlices]="false"
                [gradient]="false">
          </ngx-charts-pie-chart>

</div>

<div *ngIf="chartType == 'bar'"  style="display: block">
              <ngx-charts-bar-vertical *ngIf="pieChartData.length!=0"
                    [view]="view"
                    [results]="pieChartData"
                    [gradient]="false"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend">
            </ngx-charts-bar-vertical>
</div>
