page-login {
    .content-md, .content-ios, .content-wp{background: url(../assets/images/login-bg.png) no-repeat left top ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;border-radius:0}
 .center{
     text-align:center;
    }
.toolbar-md, .toolbar-ios, .toolbar-wp{min-height:180px}
.loginlogo{height:250px;text-align: center;padding-top:40px;padding-bottom:30px}
.loginlogo img{max-height:100%}
@media (max-width:340px) and (min-width:320px) {
    .loginlogo{height:200px;text-align: center;padding-top:10px;padding-bottom:10px}
    
}
.logopadding{padding-top:30px}
.text-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f4f4f4;
    border-radius: 0px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #f4f4f4;font-size:18px
}
input[type="password"]
{
    font-size:18px;
    font-size: .9em;
}
input[type="email"]
{
    font-size:18px;
    font-size: .9em;
}

.text-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f4f4f4;
    border-radius: 0px;font-size:18px;
    box-sizing: border-box;  background: #f4f4f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}


input[type=submit] {
    width: 100%;
    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.button-md, .button-ios, .button-wp{font-size: 2rem;
     height: 4.5rem;border-radius:0;margin: 0.4rem 0rem;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23576a+0,173b48+100 */
background: #23576a; /* Old browsers */
background: -moz-linear-gradient(top, #23576a 0%, #173b48 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #23576a 0%,#173b48 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #23576a 0%,#173b48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23576a', endColorstr='#173b48',GradientType=0 ); /* IE6-9 */}
.big-btn {
    color: #fff;
    width: 100%;
}

input[type=submit]:hover {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23576a+0,173b48+100 */
background: #23576a; /* Old browsers */
background: -moz-linear-gradient(top, #23576a 0%, #173b48 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #23576a 0%,#173b48 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #23576a 0%,#173b48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23576a', endColorstr='#173b48',GradientType=0 ); /* IE6-9 */
}
.header-md:after,.header-ios:after, .header-wp:after, .tabs-md[tabsPlacement="top"] > .tabbar:after,.tabs-ios[tabsPlacement="top"] > .tabbar:after,.tabs-wp[tabsPlacement="top"] > .tabbar:after, .footer-md:before,.footer-ios:before,.footer-wp:before, .tabs-md[tabsPlacement="bottom"] > .tabbar:before, .tabs-ios[tabsPlacement="bottom"] > .tabbar:before, .tabs-wp[tabsPlacement="bottom"] > .tabbar:before{background-image: none}
.toolbar-content-md{text-align: center}
.toolbar-background-md {
    background: none;
    border-color: #b2b2b2;
}
.text-md-danger_top, .text-md-danger, .text-ios-danger_top, .text-ios-danger, .text-wp-danger_top, .text-wp-danger{color:#ff3000;font-size:14px;position: relative;
	background: #88b7d5;padding:5px;border-radius:3px;background: rgba(255, 255, 255, 0.4);}
.text-md-danger i, .text-md-danger_top i, .text-ios-danger i, .text-ios-danger_top i, .text-wp-danger i, .text-wp-danger_top i{color:#ff3000;font-size:20px;vertical-align: sub}

.text-md-danger:after,.text-ios-danger:after, .text-wp-danger:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: rgba(255, 255, 255, 0.4);
	border-width: 8px;
	margin-left: -8px;
}
textarea
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  resize: none;
  padding:3px;
}
 input::after { border-bottom-color: transparent !important;   } 

 .list-md .item-input.ng-valid.input-has-value:last-child:not(.input-has-focus) {
    border-bottom-color:none!important;
    box-shadow:none!important;
}

.list-md .item-input.ng-valid.input-has-value::after{
border-bottom-color: transparent;
}


.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
    border-bottom-color:transparent;
    box-shadow:none!important;}


.login-box input{
    border-bottom-color:transparent;
    box-shadow:none!important;}

.item-md, .item-ios, .item-wp {
	padding-right: 0;
    padding-left: 0;
	font-size: 1.6rem;
	color: #000;
    background-color: transparent !important;
    }
   
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner, 
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.item-wp.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{border:0; background-color: transparent; box-shadow: none;}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, .item-md.item-input.input-has-focus .item-inner, .list-md .item-input.input-has-focus:last-child,
.list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, .item-ios.item-input.input-has-focus .item-inner, .list-ios .item-input.input-has-focus:last-child,
.list-wp .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, .item-wp.item-input.input-has-focus .item-inner, .list-wp .item-input.input-has-focus:last-child { border-bottom-color:transparent;  box-shadow: none;}

.item-md.item-block .item-inner, .item-ios.item-block .item-inner, .item-wp.item-block .item-inner {
    padding-right: 8px;
    border-bottom: transparent;
}

}


