<!--
  Generated template for the Login page.
-->
<ion-content padding>
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col width-67>
            <img src="http://placehold.it/300x200"/>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <div class="login-box">
    <form #loginForm="ngForm" (ngSubmit)="submitted && loginForm.form.valid && isEmailValid && onLogin(loginForm)" novalidate="true">         
      <ion-input type="text" placeholder="User name"[(ngModel)]="login.username" class="form-control customfield" required minlength="10" maxlength="50" name="user_name" #user_name="ngModel"></ion-input>
      <p [hidden]="!user_name.errors.required" *ngIf="submitted && user_name.errors " class="fielderror" color="danger">Email is required</p>
    	<ion-input type="password" placeholder="******"[(ngModel)]="login.password" class="form-control customfield" required minlength="1" maxlength="50" name="user_password" #user_password="ngModel"></ion-input>
      <p [hidden]="!user_password.errors.required" *ngIf=" submitted && user_password.errors" class="fielderror" color="danger"> Password is required</p>
      <div class="buttonarea text-center">
           <button ion-button center type="submit" style="color:white;;background-color:#2471a3;" (click)="submitted = true;" class="normal big-btn">Login</button>
      </div>
    </form>
  </div>
  
</ion-content>