.bucket_heading{font:normal 24px/20px 'open_sansregular'; color:#032632;}
.counts{ color:#1b2733;}
.sbox{ border:solid 2px #e6e8eb; background:#fff; font:normal 14px/20px 'open_sansregular'; color:#524693; border-radius:4px; -web-border-radius:4px; -moz-border-radius:4px; padding:2px 10px 2px 5px;}
.purple_color{ color:#524693; font-weight:500;}
.status_current{ color:#6ed146; font:bold 16px/24px 'open_sansregular';}
.status_backlog{ color:#ffbd36; font:bold 16px/24px 'open_sansregular';}
.status_completed{ color:#08bafc; font:bold 16px/24px 'open_sansregular';}
.status_closed{ color:#ff3b36; font:bold 16px/24px 'open_sansregular';}
.float_right{ float:right;}
.devider1{ width:100%; height:1px; background:#e6e8eb; margin:5px 0px;}
.heading{ font:normal 24px/30px 'open_sansregular'; color:#032632;}
.heading2{font:normal 16px/25px 'open_sansregular'; color:#524693;}
.heading2:focus{ outline:none; border:none;}
.pro_bucketbg{ background:#edf0f6; margin-top:8px; padding:10px; clear:both; color:#637282; font:normal 14px/18px 'open_sansregular';}
.prodashboard_desc{font:normal 14px/18px 'open_sansregular'; color:#637282;}
.pro_bucketdetails{color:#695ea5;}
.chartbg{ background:#fff; padding:10px;}
.martb5{ margin-bottom:5px; margin-top:5px;}
.marb5{ margin-bottom:5px;}
.marb10{ margin-bottom:10px;}
.marb20{ margin-bottom:20px;}
.marr5{ margin-right:5px;}
.all_storytask{ width:100%; background:#f7f9fa; border:solid 1px #e6e8eb; padding:10px 0px 0px; height:auto; min-height:120px;}
.but{ background:#758cc4; display:inline-block; color:#fff; font:normal 14px/20px 'open_sansregular';padding:3px 7px;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer; }
.but a{ color:#fff; text-decoration:none;}
.but a:hover{ color:#58637e;}
.but:hover{ color:#58637e; cursor:pointer;}
.activity_hed{ color:#000000; font:normal 18px/30px 'open_sansregular';}
.activity_datebg{ background:#524693; border:solid 2px #695ea5; display:inline-block; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;  clear:both; margin-bottom:10px; height:35px; padding-right:5px;}
.activity_datebg .datemonth{ background:#fff; float:left;color:#695ea5;  line-height:30px; border-radius:4px 0px 0px 4px; -moz-border-radius:4px 0px 0px 4px; -webkit-border-radius:4px 0px 0px 4px; padding:1px 6px 0px 6px; font-weight:500;}
.activity_datebg .datemonth span{ color:#637282!important; text-transform:uppercase;}
.activity_datebg .Year{float:left; margin-left:5px; color:#fff; line-height:31px;}
.activities_bg{ border-bottom:solid 1px #c1c7cd; padding:5px 0px 5px 40px; margin-bottom:10px; position:relative; min-height:50px; cursor:pointer;}
.activities_bg .user{ width:30px; height:30px; position:absolute; left:0px; top:10px;}
.activities_bg .user img{ width:30px; height:30px; border-radius:100%;}
.activities_bg .activitycon{ color:#637282; font:normal 14px/18px 'open_sansregular';}

.activities_bg .activitypro{color:#637282; font:normal 12px/22px 'open_sansregular';}
.success_content{color: #4F8A10;padding:5px 8px;border:#f8f8f8 solid 1px; font-size:14px; display: inline-block; border-radius:25px; margin-top: 10px;}
.error_content{color: #f57979;padding:5px 8px;border:#f8f8f8 solid 1px; font-size:14px; display: inline-block; border-radius:25px; margin-top: 10px;}

.userpic{
width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}

 @media only screen and (max-width:767px){
		.float_right{ float:left;}
 }