<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!--<button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>-->
    <ion-item text-wrap>
      <ion-label>Bucket</ion-label>
      <select-alertless item-content [(ngModel)]="changeBucket">
      <ion-option *ngFor="let item of arrayList" value="{{item.bucket}}" >{{item.bucket}}</ion-option>
      </select-alertless>
  </ion-item>
  
 <ion-item text-wrap>
    <ion-label>Plan Level</ion-label>
    <select-alertless item-content [(ngModel)]="changePlanLevel">
      <ion-option *ngFor="let item of arrayList" value="{{item.priority}}" >{{item.priority}}</ion-option>
    </select-alertless>
</ion-item>

<ion-item item-text-wrap>
    <ion-label>Assigned to</ion-label>
    <select-alertless ion-select item-content [(ngModel)]="changeAssignto">
    <ion-option *ngFor="let item of arrayList" value="{{item.assignTo}}" >{{item.assignTo}}</ion-option>
    </select-alertless>
</ion-item>

<ion-item text-wrap>
    <ion-label>Priority</ion-label>
    <select-alertless item-content [(ngModel)]="changePriority">
    <ion-option *ngFor="let item of arrayList" value="{{item.priority}}" >{{item.priority}}</ion-option>
    </select-alertless>
</ion-item>
   
<ion-item text-wrap>
    <ion-label>Status</ion-label>
    <select-alertless item-content [(ngModel)]="changeStatus">
      <ion-option *ngFor="let item of arrayList" value="{{item.priority}}" >{{item.priority}}</ion-option>
    </select-alertless>
 </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
