ion-app.md [padding], ion-app.md [padding] .scroll-content{padding:0}
.page-story-details .submitbutton-md, .page-story-details .submitbutton-ios, .page-story-details .submitbutton-wp {
    text-align: center;
vertical-align: middle;
border-radius: 100%;
display: table-cell;
padding: 5px 10px;
cursor: pointer;
position: relative;
}

page-story-details .submitbutton {text-align: center!important;
vertical-align: middle!important;
border-radius: 100%!important;
display: table-cell!important;
padding: 5px 10px!important;
cursor: pointer!important;
position: relative!important;}

.twhdiv{font-size:16px!important;}


.atmentionuserstyles{background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #f4f4f4;
    display: inline-block;
    font-size: 15px;
    list-style: outside none none;
    margin: 0;
    padding: 5px;
    width: 100%;}
.atmentionuserstyles img{border-radius:100px;vertical-align: middle}
.top60{padding-top: 85px}

