<ion-header>
    <ion-navbar>
        <ion-title>Story Create</ion-title>
        <ion-buttons right>
            <a ion-button icon-only (click)="openPopover($event)">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <div id="editor" class="editable" contenteditable="true" onclick="RE.focus (event)" ondblclick="RE.enableOptions(event)" onhold="alert('onhold');" onblur="RE.blurFocus()" style="height: 100px; border: 2px solid black; border-radius: 5px">Same comments come here</div>
    {{myHTML}}
    <div id="hideOrShow" align="center" style="display: none;">
        <button id="bold" onclick="RE.click(id)"><i class="fa fa-bold" aria-hidden="true"></i></button>
        <button id="italic" onclick="RE.click(id)"><i class="fa fa-italic" aria-hidden="true"></i></button>
        <button id="underline" onclick="RE.click(id)"><i class="fa fa-underline" aria-hidden="true"></i></button>
        <button id="bullets" onclick="RE.click(id)"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
        <button id="numbers" onclick="RE.click(id)"><i class="fa fa-list-ol" aria-hidden="true"></i></button>
        <button id="insertlink" onclick="RE.click(id)"><i class="fa fa-link" aria-hidden="true"></i></button>
        <button id="close" onclick="RE.click(id)"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>

    <form #createForm="ngForm" (ngSubmit)="onStoryCreate(createForm)" style="max-height:100%;height:100%" novalidate="true">
        <div>
            <label class="customlabel">Title</label>
            <ion-input type="text" class="item customdropdowntext spinnerlabel" placeholder="Title" [(ngModel)]="create.title" required
                name="create_title" #create_title="ngModel" [ngModelOptions]="{standalone:true}"></ion-input>
            <div [hidden]="!create_title.errors.required" *ngIf="submitted && create_title.errors " class="text-md-danger text-ios-danger text-wp-danger">
                <i class="fa fa-exclamation-circle" aria-hidden="true" id="createTitleError"></i> Title is required
            </div>
            <ion-list>
                <ion-row>
                    <ion-item *ngFor="let field of templatedataList; let i=index;" id="item_{{i}}">
                        <label class="customlabel">{{field.title}}</label>
                        <div id="field_title_{{i}}" *ngIf="field.fieldName == 'planlevel'" (click)="openOptionsModal(field, i)" class="item customdropdown spinnerlabel marginbottom8">
                            <div>{{field.assignData[0].Name}}</div><span class="custombuttonsmenuicon"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
                        <div id="field_title_{{i}}" *ngIf="field.fieldName == 'priority'" (click)="openOptionsModal(field, i)" class="item customdropdown spinnerlabel marginbottom8">
                            <div style="float:left; margin-right:5px">{{field.assignData[2].Name}}</div><span style="display:table-cell;"><i class="fa fa-circle {{displayedClassColorValue}}" aria-hidden="true"></i></span>
                            <span
                                class="custombuttonsmenuicon"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </div>
                    </ion-item>
                </ion-row>
            </ion-list>
            <div id="taskcheckbox" *ngIf="this.create.planlevel == 1 ">
                <label class="customlabel">Tasks</label>
                <ion-list>
                    <ion-row>
                        <div class="customcheckboxrow" *ngFor="let item of tasktypeList; let i=index;" id="item_{{i}}">
                            <ion-checkbox name="task_1" [(ngModel)]="item.selected" [ngModelOptions]="{standalone:true}"></ion-checkbox>
                            <span class="tasks-list-desc">{{item.Name}}</span>
                        </div>
                    </ion-row>
                </ion-list>
            </div>
            <div class="customtextareadiv">
                <ion-list>
                    <label class="customlabel">Description</label>
                    <ion-item>
                        <ion-row>
                            <textarea class="text-area  item customdropdowntext spinnerlabel" placeholder="Type your message here" [(ngModel)]="create.description"
                                required name="create_description" #create_description="ngModel" rows="5" id="create_description"
                                [ngModelOptions]="{standalone:true}"></textarea>
                        </ion-row>
                    </ion-item>
                    <div [hidden]="!create_description.errors.required" *ngIf="submitted && create_description.errors " class="text-md-danger text-ios-danger text-wp-danger">
                        <i class="fa fa-exclamation-circle" aria-hidden="true" id="createDescriptionError"></i> Description
                        is required
                    </div>
                    <div class="uploadProgress" [hidden]='progressFile==0'>
                        <progress [value]="progressFile" max="100"></progress>
                        <div id="progressFileUploadFile"></div>
                    </div>
                </ion-list>
            </div>

            <button id="formSubmit" style="opacity: 0;pointer-events:none" ion-button center type="submit" (click)="submitted = true;"
                class="normal big-btn">Submit</button>
        </div>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons left>
            <span class="">
            <a ion-button icon-only class="linkbutton" (click)="presentActionSheet()">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
            </a>
            </span>
        </ion-buttons>
        <ion-buttons right (click)="createForm.ngSubmit.emit()">
            <span class="">
            <a ion-button icon-only class="submitbutton" type="submit" (click)="submitted = true;" form="createForm">
               <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </a>
             </span>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>