<form fileDrop (dragover)="fileOverBase($event)" (dragleave)=fileDragLeave($event)  #storyForm="ngForm" (ngSubmit)="submitted && saveStory()" novalidate="true">
    <div class="paddingbottom10">
    <div class="titlearea  ">
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
  <div class="ticketdescriptionarea">
  
  <input class="editinput" placeholder="Title" [(ngModel)]="form.title" type="text" id="title" required minlength="3" maxlength="150" 
           name="title"  #title="ngModel"   >
  </div>
  </div>
  </div>
  </div>
  </div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3">
<div class="leftpaneldiv">

    <div  *ngFor="let value of storyFormData; let i = index;">

            <div *ngIf="value.type == 1">

                <div class="leftpanelsections">
                    <label for="email" class="leftlabels">{{value.lable}}</label>
                    <input [(ngModel)]="form[value.model]" [required]="(value.required == 1) ? true : null" [readonly]="(value.readOnly == 1) ? true : null"
                        type="text" class="form-control" name="name_{{value.model}}" >
                </div>
                <!--<div *ngIf="submitted && name_value.model.errors " class="alert alert-danger">
                    <div [hidden]="!name_value.model.errors.required">
                        {{value.lable}} is required
                    </div>
                </div>-->
            </div>

             <div *ngIf="value.type == 5">
                <div class="leftpanelsections">
                    <label for="email" class="leftlabels">{{value.lable}}</label>
                    <input [(ngModel)]="form[value.model]" [required]="(value.required == 1) ? true : null" [readonly]="(value.readOnly == 1) ? true : null"
                        type="text" class="form-control" name="name_{{value.model}}" >
                </div>
                <!--<div *ngIf="submitted && name_value.model.errors " class="alert alert-danger">
                    <div [hidden]="!name_value.model.errors.required">
                        {{value.lable}} is required
                    </div>
                </div>-->
            </div>
           
            <div *ngIf="value.type == 2 ">
                 <div class="leftpanelsections customdropdown">
                    <label for="email" class="leftlabels">{{value.lable}}</label>
                <p-dropdown [options]="value.values" [style]="{'width':'100%'}" [required]="(value.required == 1) ? true : null"  [(ngModel)]="form[value.model]" name="name_{{value.model}}"></p-dropdown>
               </div>
               </div>
               
            <div *ngIf=" value.type == 6 ">
                <div class="leftpanelsections customdropdown">
                    <label for="email" class="leftlabels">{{value.lable}}</label>
                <p-dropdown [options]="value.values" [style]="{'width':'100%'}" [disabled]=true  [(ngModel)]="form[value.model]" [required]="(value.required == 1) ? true : null"  name="name_{{value.model}}"></p-dropdown>
               
            </div></div>
            <div *ngIf=" value.type == 8 ">
                <div class="leftpanelsections ">
                    <label for="email" class="leftlabels">{{value.lable}}</label>
                    <select [(ngModel)]="form[value.model]" [required]="(value.required == 1) ? true : null" class="form-control" name="name_{{value.model}}"
                        >
                      <option>1</option>
                      <option>2</option>
                </select>
                </div>
                <!--<div *ngIf="submitted && name_value.model.errors " class="alert alert-danger">
                    <div [hidden]="!name_value.model.errors.required">
                        {{value.lable}} is required
                    </div>
                </div>-->
            </div>
            <div *ngIf="value.type == 4">
                <div class="leftpanelsections">
                    <label for="email" class="leftlabels">{{value.lable}}</label>
                    <ng2-datepicker [(ngModel)]="form[value.model]" name="name_{{value.model}}" ></ng2-datepicker>
                </div>

            </div>
        </div>
</div>

  </div>
  <div class="col-xs-12 col-sm-9 col-md-9">
       <div *ngIf="submitted && title.errors " class="alert alert-danger">
                    <div [hidden]="!title.errors.required">
                       Title is required
                    </div>
                    <div [hidden]="title.errors.required && (!title.errors.minlength || !title.errors.maxlength)">
                       Title must be 3 characters long
                    </div>
            </div>
<div class="rightdescriptionarea">
        
          <div style="position: relative" >
               <div [ngClass]="{dragdrop: hasBaseDropZoneOver}" 
                    (dragover)="fileOverBase($event)" 
                    (dragleave)="fileDragLeave($event)"   
                    (drop)="onFileDrop($event)" >
                </div>
              <div [ngClass]="{pop_over_bg: fileUploadStatus}"><img *ngIf="fileUploadStatus" src="assets/images/loader.gif" height="20" width="70" alt=""/> </div>

            <ckeditor [config]="toolbar" [(ngModel)]="form.description"    name="description"  #description="ngModel" required     debounce="500"  >
            </ckeditor>

               
          </div>
   <!-- <tinymce [(content)]="form.description"></tinymce>-->
     <div *ngIf="submitted && description.errors " class="alert alert-danger">
                    <div [hidden]="!description.errors.required">
                       Description is required
                    </div>
            </div>
    <div class="uploadcomponent margintop15">
        <div class="uploadbottom"><i class="fa fa-paperclip" aria-hidden="true"></i> File upload</div>
        <input class="transparentinput" type="file" (change)="fileChangeEvent($event)"  multiple  />
    </div>
          <!--<input [(ngModel)]="form.description" type="text"  id="description"class="form-control" 
            name="description"  #description="ngModel" >-->
        
 
</div>
<div class="buttonarea alignright">
<button type="submit" (click)="submitted = true;" class="normal bluebutton bluebuttonmedium">SUBMIT</button>
</div>
  </div>

</div>
</form>



