<ol *ngIf="isLoggedOut==false" class="breadcrumb">
    <li  (click)="modifyBreadcrumb(null)"><a routerLink="" class="breadcrumb"><i  class="fa fa-home" aria-hidden="true"></i></a></li>
    <li *ngFor="let item of items;let i=index;let last=last">
        <img *ngIf="item.type=='Story'" src="assets/images/story-icon.png" />
        <img *ngIf="item.type=='Task'" src="assets/images/task-icon.png" />
        <a *ngIf="item.url!=null && !last" (click)="modifyBreadcrumb(i)"  href="{{item.url}}">
            {{item.label}}</a>
            <label *ngIf="last">{{item.label}}</label>
        <label style="color:#737171" class="last_item" *ngIf="item.url==null">{{item.label}}</label>
      </li>
    </ol>

    <!--<p-breadcrumb [model]="items"></p-breadcrumb>-->