.model_proimg{ width:90px; height:90px; border-radius:100%; background:#f7f9fa; position:relative;}
.model_proimg img{ border-radius:100%; width:90px; height:90px;}
.model_proimgedit{ width:20px; height:20px; background:#776dad; border-radius:100%; text-align:center; vertical-align:middle; position:absolute; right:5px; top:5px; cursor:pointer;}
.model_proimgedit i{ font-size:12px; color:#fff;}
.model_submit{ background:#695ea5;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:5px; color:#fff; font:normal 14px/20px 'open_sansregular'; cursor:pointer; text-transform:uppercase; padding:5px 15px;}
.model_cancel{ background:#a7b4d3;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:5px; color:#fff; font:normal 14px/20px 'open_sansregular'; cursor:pointer; text-transform:uppercase; padding:5px 15px;}
.modal-content{background:#fff;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.modal-header{ background:#f7f9fa; border-bottom:solid 1px #e6e8eb; color:#695ea5; font:normal 16px/24px 'open_sansregular'; padding:5px 10px;}
.modal-title{ color:#695ea5; font:normal 16px/24px 'open_sansregular';}
.butnbor{ border:none; outline:none;}
.invitesearch{ background:#fff; border:solid 1px #e6e8eb; width:100%; height:35px;}
label{color: #637282!important;}
.ui-inputtext.ng-dirty.ng-invalid{ border-bottom: none!important;}
.ui-corner-all {
    border-radius:none!important;
}.borderradius_none{ border-radius:0px!important; border-radius:none!important;}