
<div class="row">
        <div class="col-md-6 col-xs-offset-3">

     <div class="modal-content">
<div class="modal-header text-center text-uppercase">Create User</div>
<div class="text-center" > <div class="inviteuser_content">You are invited to {{projectName}}</div> </div>
<div class="modal-body">
<form   #newUserForm="ngForm" (ngSubmit)="submitted && newUserForm.form.valid && saveUser()" novalidate="true">
 
  
  
  
  <div class="pull-right">
  <div class="model_proimg">
            <img  alt="" [src]="userProfileImage" name="originalImageName" id="userlogo" />
            <div (click)="CallFileupload()" class="model_proimgedit"><i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <input  type="file" id="my_file" style="display: none;" (change)="fileUpload($event, 'fileChange')"/>
            </div>
             <div [hidden]="isValidFile" id="fileuploadMessage"  class="fielderror">Invalid file format</div>
  </div>
         <div style="clear: both;">
          <label class="loginformlabel"> First Name </label>
          
              <input class="invitesearch borderradius_none" type="text" pInputText [(ngModel)]="form.firstName" name="firstName"  #firstName="ngModel" placeholder="First Name" minlength="3" maxlength="30" (focusout)="prepareDisplayName()" required/>
                  <div *ngIf="submitted && firstName.errors " class="fielderror">
                      <div [hidden]="!firstName.errors.required">
                          First name is required
                      </div>
                      <div [hidden]="!firstName.errors.minlength">
                                  First name must be at least 3 characters long.
                      </div>
                      <div [hidden]="!firstName.errors.maxlength">
                                  First name must not be more than 30 characters long.
                      </div>
                    </div>
                  <div id="addTitleErrMsg" class="fielderror" style="display:none;"></div>
       

    
          <label class="loginformlabel"> Last Name </label>
              <input type="text" class="invitesearch borderradius_none" pInputText [(ngModel)]="form.lastName" name="lastName"  #lastName="ngModel" placeholder="Last Name" minlength="3" maxlength="30" (focusout)="prepareDisplayName()" required/>
                  <div *ngIf="submitted && lastName.errors " class="fielderror">
                      <div [hidden]="!lastName.errors.required">
                          Last name is required
                      </div>
                      <div [hidden]="!lastName.errors.minlength">
                                  Last name must be at least 3 characters long.
                      </div>
                      <div [hidden]="!lastName.errors.maxlength">
                                  Last name must not be more than 30 characters long.
                      </div>
                    </div>
                  <div id="addTitleErrMsg" class="fielderror" style="display:none;"></div>
           <label class="loginformlabel"> Display Name </label>
              <input type="text" class="invitesearch borderradius_none" pInputText [(ngModel)]="form.displayName" name="displayName"  #displayName="ngModel" placeholder="Display Name" minlength="3"  pattern="[a-zA-Z0-9_.]*" (focusout)="prepareDisplayName()" required/>
                  <div *ngIf="submitted && displayName.errors " class="fielderror">
                      <div [hidden]="!displayName.errors.required">
                          Display name is required
                      </div>
                      <div *ngIf = "(!displayName.errors.minlength && displayName.errors.pattern) || displayName.errors.pattern">
                                  Special characters are not allowed.
                      </div>
                       <div *ngIf ="!displayName.errors.pattern && displayName.errors.minlength">               
                                Display name must be at least 3 characters long.
                      </div>
                    </div>
       

            <label class="loginformlabel" for="email">Email</label>
            <input [(ngModel)]="form.email" disabled="disabled" id="email" type="text" class="form-control customfield" 
                        name="email" #email="ngModel">        
        

    
                  <label class="loginformlabel" for="password">Password</label>
                  <input class="invitesearch" (ngModelChange)="checkPasswordField($event)" (blur)="hidePasswordHelper()" (focus)="showPasswordHelper()"  [(ngModel)]="form.password" id="password" type="password"  class="form-control customfield" required 
                     name="password" #password="ngModel" ngPasswordValidator>
                  <div *ngIf=" submitted && password.errors" class="fielderror"  >
                    <div [hidden]="!password.errors.required">
                     Password is required
                    </div>
                   
                    <div id="password_valid" *ngIf="!(password.errors=='passwordRulesInvalid') && !password.errors.required">Password is not valid</div>
                  </div>
                
                    <div class="password-helper" *ngIf="showHelper" style="background: #f7f9fa; padding:5px 10px!important; font-size: 13px;margin-top:10px;">
                    <ng-password-helper></ng-password-helper>
                    </div>
    
                  <label class="loginformlabel" for="password">Confirm Password</label>
                  <input class="invitesearch" (ngModelChange)="checkConfirmField($event)"  [(ngModel)]="form.confirmpassword" id="confirmpassword" type="password" id="confirmpass" class="form-control customfield" required minlength="8"
                    maxlength="15" name="confirmpassword" #confirmpassword="ngModel">
                  <div *ngIf=" submitted && confirmpassword.errors" class="fielderror">
                    <div [hidden]="!confirmpassword.errors.required">
                      Confirm password is required
                    </div>
                    <div [hidden]="!confirmpassword.errors.minlength">
                      Confirm password must be at least 8 characters long.
                    </div>
                    <div [hidden]="!confirmpassword.errors.maxlength">
                     Confirm password cannot be more than 15 characters long.
                    </div>
                  </div>
                  <div id="mismatch_error" class="fielderror" [hidden]="isPasswordMatch">
                      Password mismatch
                    </div>
                  </div>
        <input [hidden]="true" [(ngModel)]="form.userProfileImage" type="text" name="userProfileImage"/>
         <input [hidden]="true" [(ngModel)]="form.originalImageName" type="text" name="originalImageName"/>
     <div class="buttonarea alignright">
            <button type="submit" (click)="submitted = true;" class="model_submit butnbor">Accept & Continue</button>
        </div>
 
 
  </form>
     </div>

     </div>
  </div>
  </div>
  
