<!--
  Generated template for the AllNotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the UnreadNotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->read_notifications
<page-header></page-header>
<ion-content >
    <div class="padding10">
        <ion-list>
            <ion-item-sliding *ngFor="let notify of notification_msg " 
                no-padding>
                <ion-item text-wrap no-padding no-lines class="dashboardouterbox">
                    <div class="unread_notifications {{(notify.IsSeen==1)?'read_notifications':''}}">
                        <div class="notificationdiv" id="{{notify.id.$oid}}" *ngIf="notify.status=='changed'">
                            <div (click)="gotoNotificationDetails(notify.Project,notify.TicketId,notify.id.$oid,notify.Slug.$oid,notify.IsSeen)">
                            <span class="notificationusericon"><img src="{{notify.Profile}}"/></span>
                            <span class="notifications_name">{{notify.from}}</span> <span class="notifications_name2">{{notify.type}} {{notify.ActivityOn}} from {{notify.OldValue}} to {{notify.NewValue}} for</span>
                            <i *ngIf="notify.PlanLevel==1" class="Story"></i> <i *ngIf="notify.PlanLevel==2" class="Task"></i><span class="notifications_name">#{{notify.TicketId}}  {{notify.Title}} </span>
                            <div class="noti_date">{{notify.date}} -{{notify.Project.ProjectName}}</div>
                            </div>
                            <div (click)="markAsRead(notify)" class="not_close" *ngIf="notify.IsSeen==0" ><i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="notificationdiv" id="{{notify.id.$oid}}"   *ngIf="notify.type!='changed'  && !notify.status  && notify.object!='mention' && notify.object!='comment' && notify.object!='reply'">
                            <div (click)="gotoNotificationDetails(notify.Project,notify.TicketId,notify.id.$oid,notify.Slug.$oid,notify.IsSeen)">
                            <span class="notificationusericon"><img src="{{notify.Profile}}"/></span>
                            <span class="notifications_name">{{notify.from}}</span> {{notify.type}} <span class="notifications_name2">{{notify.to}}</span> {{notify.OtherMessage}} {{notify.Preposition}} &nbsp;
                            <i *ngIf="notify.PlanLevel==1" class="Story"></i> <i *ngIf="notify.PlanLevel==2" class="Task"></i><span class="notifications_name">#{{notify.TicketId}} {{notify.Title }}</span>
                            <div class="noti_date">{{notify.date}} -{{notify.Project.ProjectName}}</div>
                            </div>
                            <div  (click)="markAsRead(notify)" class="not_close" *ngIf="notify.IsSeen==0" ><i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>
                        
                        <div class="notificationdiv" id="{{notify.id.$oid}}"   *ngIf="notify.status=='set' && notify.type!='created' && notify.type!='related' && notify.type!='unrelated'">
                           <div (click)="gotoNotificationDetails(notify.Project,notify.TicketId,notify.id.$oid,notify.Slug.$oid,notify.IsSeen)">
                            <span class="notificationusericon"><img src="{{notify.Profile}}"/></span>
                            <span class="notifications_name">{{notify.from}}</span>  {{notify.type}} {{notify.ActivityOn}} {{notify.Preposition}} {{notify.NewValue}} for <span class="notifications_name2"></span>
                            <i *ngIf="notify.PlanLevel==1" class="Story"></i> <i *ngIf="notify.PlanLevel==2" class="Task"></i><span class="notifications_name">#{{notify.TicketId}} {{notify.Title }}</span>
                            <div class="noti_date">{{notify.date}} -{{notify.Project.ProjectName}}</div>
                           </div>
                            <div  (click)="markAsRead(notify)" class="not_close" *ngIf="notify.IsSeen==0" ><i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>

                         <div class="notificationdiv" id="{{notify.id.$oid}}"   *ngIf="notify.type=='created' || notify.type=='related' ||  notify.type=='unrelated'">
                            <div (click)="gotoNotificationDetails(notify.Project,notify.TicketId,notify.id.$oid,notify.Slug.$oid,notify.IsSeen)">
                            <span class="notificationusericon"><img src="{{notify.Profile}}"/></span>
                            <span class="notifications_name">{{notify.from}}</span> {{notify.type}} {{notify.ActivityOn}} {{notify.Preposition}} {{notify.NewValue}}  <span class="notifications_name2"></span>
                            <i *ngIf="notify.PlanLevel==1" class="Story"></i> <i *ngIf="notify.PlanLevel==2" class="Task"></i><span class="notifications_name">#{{notify.TicketId}} {{notify.TargetTicketTitle }} for </span><span class="notifications_name">#{{notify.TicketId}} {{notify.Title }}</span>  <div class="noti_date">{{notify.date}} -{{notify.Project.ProjectName}}</div>
                            </div>
                            <div  (click)="markAsRead(notify)" class="not_close" *ngIf="notify.IsSeen==0" ><i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>

                          <div class="notificationdiv" id="{{notify.id.$oid}}"   *ngIf="notify.object=='mention'||notify.object=='comment' ||notify.object=='reply' " >
                            
                            <div (click)="gotoNotificationDetails(notify.Project,notify.TicketId,notify.id.$oid,notify.Slug.$oid,notify.IsSeen)"><span class="notificationusericon"><img src="{{notify.Profile}}"/></span>
                            <span class="notifications_name">{{notify.from}}</span> {{notify.type}} {{notify.ActivityOn}} {{notify.Preposition}} &nbsp;  <span class="notifications_name2"></span>
                            <i *ngIf="notify.PlanLevel==1" class="Story"></i> <i *ngIf="notify.PlanLevel==2" class="Task"></i><span class="notifications_name">#{{notify.TicketId}} {{notify.Title }}</span>                          <div class="noti_date">{{notify.date}} -{{notify.Project.ProjectName}}</div>
                            </div>
                            <div  (click)="markAsRead(notify)" class="not_close" *ngIf="notify.IsSeen==0" ><i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                </ion-item>
                <ion-item-options side="right" (ionSwipe)="gotoNotificationDetails(notify.Project,notify.TicketId,notify.id.$oid,notify.Slug.$oid,notify.IsSeen)"></ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <div *ngIf="!moreDataLoaded" class="dashboardbox_footer" style="text-align: center;"> No more data available. </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content *ngIf="moreDataLoaded" loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
