.navbar-brand {float: left;height: auto;padding: 0 15px;font-size: 18px;line-height: 20px;}
.navbar-inverse {background-color: #fff;border-color: #080808;}
.navbar {position: relative;min-height: 50px;margin-bottom: 20px;border-top:0;border-left:0;border-right:0;border-bottom: 1px solid #cfcfcf;}
@media (min-width: 768px) {.navbar {border-radius: 0px;}}

/*Login styles*/
.loginsection{width:400px;margin:auto;}
.cleardiv:after{display:block;clear:both;content:" ";}
.logpadding{padding:30px 50px;-webkit-box-shadow: 0px 0px 9px 0px rgba(143,141,143,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(143,141,143,1);
box-shadow: 0px 0px 9px 0px rgba(143,141,143,1);}
.loginheader{padding:10px 0 30px}
.loginTopheader{padding:40px 0 30px}
.loginfooter{}
footer{padding-top:10px;margin-top:10px;;
border: 0;
border-top: 1px solid #eee}
/* end */
/*header right panel section menu*/
.profilesection{border:1px solid #dddddd;margin-top:13px;padding:5px;min-height:45px}
.profilepic img{max-width:100%;max-height:100%;}
.profilepic{width:32px;height:32px;overflow:hidden;border-radius:100px;border:1px solid #dddddd;padding:2px;vertical-align:middle;display:table-cell}
.profilepic_table{width:22px;height:22px;overflow:hidden;border-radius:100px;border:1px solid #dddddd;padding:2px;vertical-align:middle;display:table-cell}
.headerrightnavbar > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
}
.navbar-right .headerrightnavbar .dropdown-menu {
    right: 0;
    left: 0;
	min-width:auto;padding:0
}
.navbar-right .headerrightnavbar .dropdown-menu> li > a {
  padding:6px 15px
}
.profilesection .pull-left{padding-right:5px}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #78c9ee;
}
/*header right panel section menu end*/
.custom_menu{padding-bottom:10px}
.normal{background:#ecebeb;border:1px solid #e7e7e7;padding:14px 12px 14px;line-height:0}
.normal i{color:#78c9ee;font-size:20px;line-height:10px}
.bluebutton{background:#237ea7;border:1px solid #1e6b8e;}
.bluebutton, .bluebutton i{color:#fff}
.greybutton{ background: #ecebeb;border: 1px solid #e7e7e7;color:#333}
.customtable{display:table;width:100%}
.customrowheader,.customrow{display:table-row;}
.customrowheader .cust1,.customrowheader .cust2,.customrowheader .cust3,.customrowheader .cust4,.customrowheader .cust5,.customrowheader .cust6,.customrowheader .cust7,.customrowheader .cust8{display:table-cell;background:#e2e2e2;color:#7d7977;padding:10px 8px;font-size:15px;}
.customrow .cust1,.customrow .cust2,.customrow .cust3,.customrow .cust4,.customrow .cust5,.customrow .cust6,.customrow .cust7,.customrow .cust8{display:table-cell;vertical-align:middle;border:1px solid #000;padding:5px}
.bluebuttonlarge{padding:20px 30px;font-size:20px;border-radius:0px}
.customrow{border:1px solid #ccc;margin-bottom:10px}
.bluebuttonlarge {border-radius: 0;font-size: 16px; padding: 15px 15px;}
.panel-heading_custom, .panel-group .panel-default_custom {
    padding: 0px;border-radius:0
}
.fielderror {
	position: relative;margin-top:4px;
	background: #d50000;
	padding:2px 5px;color:#fff;font-size:12px}
.fielderror:after {
	bottom: 100%;
	left: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213, 0, 0, 0);
	border-bottom-color: #d50000;
	border-width: 5px;
	margin-left: -5px;
}
.loginformlabel{font-weight:normal}
.customfield{border:1px solid #ccc;border-radius:0;font-size:15px}
.minheight50{min-height: 50px}
.viewinputtext{min-height:50px; font-size: 20px;
    min-height: 40px;
    padding: 6px 10px 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background:#fff}
/* custom data table*/
.customdatatable .datatable-header{background:#ececec;color:#7d7977;padding:10px 8px;font-size:15px;margin-bottom:15px}
.customdatatable .datatable-row-wrapper{cursor: pointer}
.customdatatable .datatable-row-wrapper .datatable-body-row .datatabledatatable-row-center{border:1px solid #ccc;margin-bottom:5px;}
.profilepic{border-radius:100px;width:32px;height:32px;border:1px solid #ccc;padding:2px;background: #fff}
/* end */
/* componentstyles for to title area*/
 .titlearea  .ticketidareanorightpadding{padding-right:0}
 .titlearea .ticketidarea{background:#f8f8f8;font-size: 20px;font-weight: bold;min-height: 50px;padding-top: 12px;text-align: center;}
 .titlearea .ticketdescriptionarea{background:#f8f8f8;padding:6px}
 .titlearea .ticketdescriptionarea .editinput{width:100%;min-height:40px;font-size:20px;background:#fff;padding:5px 10px;border:0}
 .rightdescriptionarea{padding:15px;background:#f8f8f8 }
 .paddingbottom10{padding-bottom:10px}
 .leftpaneldiv{border:1px solid #f8f8f8}
 .leftpanelsections{border-bottom:1px solid #f8f8f8;padding: 5px 15px}
 .leftpanelsections .leftlabels, .leftlabels{font-weight: normal;font-size:12px}
 .leftpanelsections select, .leftpanelsections input{border:0px solid #ccc;background: #f8f8f8;border-radius:0}
 .uploadcomponent{position:relative;overflow: hidden;width:100px;height:40px;background: #fff}
 .uploadcomponent  .uploadbottom{position:absolute;left:0;top:0;font-size: 12px;padding:10px}
 .uploadcomponent  .uploadbottom i{font-size:15px;}
 .uploadcomponent .transparentinput{position:absolute;z-index:2;left:-10px;top:-15px;font-size:120px;opacity: 0;
    filter: alpha(opacity=0);}
	.margintop15{margin-top:15px}
	.buttonarea{padding:10px 0;}
	.alignright{text-align: right}
/* end */





my-app {
	display: block ;
}



html-dropdown {
	cursor: pointer ;
	display: inline-block ;
	position: relative ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

html-dropdown div.dropdown-root {
	border: 1px solid #CCCCCC ;
	border-radius: 3px 3px 3px 3px ;
	min-width: 100px ;
}

html-dropdown div.dropdown-root div.placeholder {
	padding: 10px 10px 10px 10px ;
}

html-dropdown ul.dropdown-items {
	border: 1px solid #CCCCCC ;
	border-radius: 0px 0px 3px 3px ;
	border-top-width: 0px ;
	left: 0px ;
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	min-width: 100px ;
	padding: 0px 0px 0px 0px ;
	position: absolute ;
	top: 100% ;
}

html-dropdown ul.dropdown-items li {
	background-color: #FFFFFF ;
	border-top: 1px solid #CCCCCC ;
	margin: 0px 0px 0px 0px ;
	min-width: 100% ;	
	padding: 0px 0px 0px 0px ;
}

html-dropdown ul.dropdown-items li:hover {
	background-color: #FAFAFA ;
}

html-dropdown div.dropdown-item-content {
	position: relative ;
}

html-dropdown.is-open div.dropdown-root {
	border-bottom-width: 0px ;
	border-radius: 3px 3px 0px 0px ;
}


/* Special customizations. */

html-dropdown div.dropdown-root,
html-dropdown ul.dropdown-items {
	min-width: 200px ;
}

html-dropdown div.dropdown-item-content {
	height: 66px ;
	line-height: 66px ;
}

html-dropdown img {
	border-radius: 46px 46px 46px 46px ;
	height: 46px ;
	left: 10px ;
	position: absolute ;
	top: 10px ;
	width: 46px ;
}

html-dropdown span.name {
	font-size: 26px ;
	padding-left: 70px ;
}
::-ms-reveal {
    display: none;
}

/*custom dropdownload styles*/
.ui-inputtext {color: #222222; }
.customdropdown .ui-widget-header .ui-state-default, .customdropdown .ui-widget-content .ui-state-default, .customdropdown .ui-state-default, .customdropdown .ui-inputtext{border:0;background: #f8f8f8}
.customdropdown .ui-widget-header .ui-state-highlight, .customdropdown  .ui-widget-content .ui-state-highlight, .customdropdown  .ui-state-highlight{background: #78c9ee}
.customdropdown .ui-corner-all{border-radius:0}
.customdropdown .ui-widget{font-size:12px}
.leftreadonlyfontbluecolor{font-weight:bold;color:#78c9ee;font-size:12px}
.leftreadonlyfontgreycolor{font-weight:bold;color:#ccc;font-size:12px}
.custtextarea{min-height: 60px; resize: vertical;background: #f8f8f8 ;border: 0;max-height:300px}
.width100per{width:100%}
.custominput{padding-left:10px;padding-right:10px}
footer{font-size:10px}
.custwordwrap{word-wrap: break-word}
.customdatatable.ngx-datatable.material{background: #FFF;  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.24);}
.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row,.ngx-datatable .datatable-scroll .datatable-body-row{border:1px solid #e8e8e8;margin:0;margin-bottom:5px;position: relative}
.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row:after, .ngx-datatable .datatable-scroll .datatable-body-row:after{content:"";border:1px solid #e8e8e8;top:0;bottom:0;position: absolute;;right:12px;}
.artifacts img{max-width:100%;max-height:100%}
.unloading{display: none}
.loading{position: fixed;top:0;bottom:0;right:0;left:0;text-align: center;display: block}
.loading img{position: absolute;top:45%;margin-top:-20px}
.loginform .alert-danger{padding:6px}
.datatable-body-cell-label .titlecolumn{text-overflow: ellipsis;overflow: hidden;cursor:pointer;white-space: nowrap}
.statusbold{font-weight:bold}
.Normal{color:#eda74c}
.Highest{color:#ff2200}
.High{color:#ff7c7c}
.Low{color:#c5c950}
.Lowest{color:#e5e970}
.New{color:#00b12e}
.Open{color:#FC4A4A}
.Accepted{color:#0081c4}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{font-size:12px;line-height:14px}
.prioritycolumn{width:66px}
.prioritycolumn i{float:right;margin-top:4px}
.ngx-datatable.material .datatable-footer {font-size: 13px;background: #f4f4f4;}
.headerrightnavbar .dropdown-toggle{text-decoration: none}
.customcalender .ui-calendar{display:block}
.customcalender .ui-calendar.ui-calendar-w-btn input{width:90%}
.customcalender .ui-calendar .ui-button{background: #e8e8e8;color:#333;border:1px solid #f8f8f8;border-left:0}
.customcalender .ui-calendar .ui-button:hover, .customcalender .ui-calendar .ui-button:focus{background: #f4f4f4;color:#333;border:1px solid #f8f8f8;}
.customcalender .ui-datepicker{width:99%}
.cusomlistbullet{display: block;width:66px;}
.cusomlistbullet i{float:right;margin-top:2px}
/*end*/
