page-story-details {
                  

              * {
                  box-sizing: border-box;
              }

              select-alertless {
                display: flex;
                max-width: 45%;
                overflow: hidden;
                padding-right: 10px;
            }
            
              .select-text {
                  flex: 1 1 0;
                  font-size: inherit;
                  min-width: 16px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
              }
              .select-icon {
                  height: 19px;
                  position: relative;
                  width: 12px;
              }
              
              .select-icon .select-icon-inner {border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid;
                  color: #999;
                  height: 0;
                  left: 5px;
                  margin-top: -3px;
                  pointer-events: none;
                  position: absolute;
                  top: 50%;
                  width: 0;                                
    }
    .toolbar-background-md, .toolbar-background-ios, .toolbar-background-wp{
    background-image:none;
   
background: #6cbed6; /* Old browsers */
background: -moz-linear-gradient(top, #6cbed6 0%, #3b9ec2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #6cbed6 0%,#3b9ec2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #6cbed6 0%,#3b9ec2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cbed6', endColorstr='#3b9ec2',GradientType=0 ); /* IE6-9 */
    
}
.toolbar-title-md, .toolbar-title-ios, .toolbar-title-wp{text-align: center;color:#fff;}
.bar-button-md[icon-only] i, .bar-button-ios[icon-only] i, .bar-button-wp[icon-only] i{font-size:2.4em;color:#fff}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default, .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default{color:#fff}
.custombuttonsmenu.bar-buttons-md[right]{padding-top:8px;padding-right:8px}
.custombuttonsmenu.bar-buttons-md ion-icon, .custombuttonsmenu.bar-buttons-ios ion-icon, .custombuttonsmenu.bar-buttons-wp ion-icon{font-size:25px}
.custombuttonsmenu.custombuttonsmenumargintop.bar-buttons-md ion-icon, .custombuttonsmenu.custombuttonsmenumargintop.bar-buttons-ios ion-icon, .custombuttonsmenu.custombuttonsmenumargintop.bar-buttons-wp ion-icon{margin-top:0px}
.custombuttonsmenuborderbottom{border-bottom:1px solid #dedede;padding-bottom:5px}
.list-md .item-block .item-inner, .list-ios .item-block .item-inner, .list-wp .item-block .item-inner{margin-left:-16px;padding-left:10px}
.expand{display: none; color: #3b9ec2; position: absolute; right: 11px; top: 2px}
.collapse{color: #3b9ec2; position: absolute; right: 11px; top: 2px}
.dashboardouterbox{}
// .High{background: #fbd8d8}
// .Normal{background: #ffead0}
// .Low{background: #faf9e3}
// .Highest{background:#ffb0b0}
// .Lowest{background:#f0f0f0}

.Normal {color:#eda74c}
.Highest{color:#ff2200}
.High{color:#ff7c7c}
.Low{color:#c5c950}
.Lowest{color:#e5e970}

.dashboardbox_header{padding:8px 10px 2px;font-size:14px;line-height:16px}
.dashboardbox_header i{width:22px;height:22px;border-radius:100px;display: inline-block;vertical-align: middle}
.dashboardbox_header i.Story{background:#04355e;position: relative}
.dashboardbox_header i.Task{background:#21b3ff;position: relative}
.dashboardbox_header i:after{font-style:normal;color:#fff ;font-family: arial;font-weight:bold;position: absolute;left:0;right:0;text-align: center;font-size: 16px}
.dashboardbox_header i.Story:after{content:"S";top:3px}
.dashboardbox_header i.Task:after{content:"T";top:3px;}
.dashboardbox_header .ticketid{font-weight:bold;color:#007ca9}
.dashboardbox_header .tickettitle{font-weight:normal;color:#5b5b5b}
.customtoggle{background: #f8f8f8;border:1px solid #f0f0f0}
.padding10{padding:10px}
.padding10r25{padding:10px 25px 10px 10px}
.padding10trl{padding:10px 10px 0 10px}
.customcard.card.card-md, .customcard.card.card-ios, .customcard.card.card-wp{box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);}
.displayblock:after{content:"";clear:both;display:block}
.customtoggle i{font-size:20px;right:18px;top:10px}
.customcard p, .customcard{font-size:14px}
.list-md, .list-ios, .list-wp {margin:0 0 0;}
.toolbar-ios{min-height:70px;padding-top:25px}
.collapseDescription{overflow: hidden;}
.show-morediv{padding:10px 3px 3px 10px;text-align:right}
.customshowbutton{padding:5px 10px;border-radius:4px;font-size:12px;color:#fff;background: #23576a; /* Old browsers */
background: -moz-linear-gradient(top, #23576a 0%, #173b48 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #23576a 0%,#173b48 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #23576a 0%,#173b48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23576a', endColorstr='#173b48',GradientType=0 ); /* IE6-9 */}
.back-button-icon-md, .back-button-icon-ios, .back-button-icon-wp{font-size:35px}

.dod{width: 100%;}
.dod ion-label{ width: 100%!important; float:left!important;}
.dod ion-input{width: 100%!important;}


// .icnlist .input-wrapper {
//     /* display: -webkit-flex; */
//     display: -ms-flexbox;
//     /* display: flex; */
//     /* overflow: hidden; */
//     /* -webkit-flex: 1; */
//    /* -ms-flex: 1; */
//    /* flex: 1; */
//     -webkit-flex-direction: inherit;
//     -ms-flex-direction: inherit;
//     flex-direction: inherit;
//     -webkit-align-items: inherit;
//     -ms-flex-align: inherit;
//     align-items: inherit;
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;
//     text-overflow: ellipsis;
// }

// .icnlist .text-input-md, .icnlist .text-input-ios, .icnlist .text-input-wp {
//     margin: 13px 8px 13px 8px;
//     padding: 0;
//     width:100%!important;
// }

// .icnlist text-input {
//     -moz-appearance: none;
//     -ms-appearance: none;
//     -webkit-appearance: none;
//     appearance: none;
//     display: block!important;
//     /* -webkit-flex: 1; */
//     /*-ms-flex: 1;
//     /* flex: 1; */
//     width: 100%!important;
//     /* width: calc(100% - 10px); */
//     border: 0;
//     border-radius: 0;
//     background: transparent;
// }


// .input-wrapper {
//     display: block!important;
//     display: -ms-flexbox;
//     /* display: flex; */
//     /* overflow: hidden; */
//     /* -webkit-flex: 1;
//     -ms-flex: 1; */
//     /* flex: 1; */
//     /* -webkit-flex-direction: inherit; */
//     -ms-flex-direction: inherit;
//     flex-direction: inherit;
//     -webkit-align-items: inherit;
//     -ms-flex-align: inherit;
//     align-items: inherit;
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;
//     /* text-overflow: ellipsis; */
// }



.dodtxt{ margin: 2px 0!important;
    font-size: 1.4rem!important;
    font-weight: normal;
    line-height: normal;
    color:#000!important;
}

.input-wrapper .estpoint .label{font-size: 1.4rem!important;}

.input-wrapper .label-md, .input-wrapper .label-ios, .input-wrapper .label-wp {
    color: #000;    
}

.fntsize{font-size: 1.4rem!important;margin: 13px 13px 1px 0px!important;}
.bc{color: #000!important;}

/*.item-md h3{ font-style:italic!important;}*/

.input-wrapper .bc {color: #000!important;}

.text-input-md, .text-input-ios, .text-input-wp { margin: 3px 13px 13px 0px!important; color: #000!important;}

/*.page-story-details .icnlist .text-input-md { margin-right:0px!important;}*/

.input-wrapper .no_mar{ margin: 0px!important;font-size: 1.4rem!important; margin-bottom: 5px!important;}
.input-wrapper .datetime-md, .input-wrapper .datetime-ios, .input-wrapper .datetime-wp {
    padding: 0px 8px 13px 0px!important;
    }

    .high{ width:8px; height:8px;border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	 background:#fd0201;}
    .normal{ width:8px; height:8px;border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	 background:#eda74c;}	
    .low{ width:8px; height:8px;border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	 background:#c5c950;}
     .user img{ width:24px; height:24px;border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;}

    .input-wrapper .spinnerlabel{ color:#1c8ab5!important;}
    
    .imgVideo_bg p img, video{margin-left: auto;
                             margin-right: auto;
                             display: block;}

.input-wrapper .spinnerlabel{ color:#1c8ab5!important; }

    .toast{background-color:#eda74c;}
    ion-img{background: none}
// .estimatepoints{    display: block!important;
//  display: -ms-flexbox;
//  /* display: flex; */
//    /* overflow: hidden; */
//     /* -webkit-flex: 1;
//    -ms-flex: 1; */
//     /* flex: 1; */
//     /* -webkit-flex-direction: inherit; */
//    -ms-flex-direction: inherit;
//     flex-direction: inherit;
//     -webkit-align-items: inherit;
//     -ms-flex-align: inherit;
//     align-items: inherit;
//    -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;
//    /* text-overflow: ellipsis; */
//    }


//   .icnlist .input-wrapper {
//     /* display: -webkit-flex; */
//     display: -ms-flexbox;
//     /* display: flex; */
//     /* overflow: hidden; */
//     /* -webkit-flex: 1; */
//    /* -ms-flex: 1; */
//    /* flex: 1; */
//     -webkit-flex-direction: inherit;
//     -ms-flex-direction: inherit;
//     flex-direction: inherit;
//     -webkit-align-items: inherit;
//     -ms-flex-align: inherit;
//     align-items: inherit;
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;
//     text-overflow: ellipsis;
// } 


// .icnlist .input-wrapper {
//     display: block!important;
//     display: -ms-flexbox;
//     /* display: flex; */
//     /* overflow: hidden; */
//     /* -webkit-flex: 1;
//     -ms-flex: 1; */
//     /* flex: 1; */
//     /* -webkit-flex-direction: inherit; */
//     -ms-flex-direction: inherit;
//     flex-direction: inherit;
//     -webkit-align-items: inherit;
//     -ms-flex-align: inherit;
//     align-items: inherit;
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;
//     /* text-overflow: ellipsis; */
// }


#item_7 .input-wrapper {
    display: block!important;
    display: -ms-flexbox;
    /* display: flex; */
    /* overflow: hidden; */
    /* -webkit-flex: 1;
    -ms-flex: 1; */
    /* flex: 1; */
    /* -webkit-flex-direction: inherit; */
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    /* text-overflow: ellipsis; */
}

.estpo{ background: #f8f8f8;
border: 1px solid #f0f0f0; margin-bottom:5px; padding-left:3px; padding-top: 5px;}

#item_11 .input-wrapper {
    display: block!important;
    display: -ms-flexbox;
    /* display: flex; */
    /* overflow: hidden; */
    /* -webkit-flex: 1;
    -ms-flex: 1; */
    /* flex: 1; */
    /* -webkit-flex-direction: inherit; */
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    /* text-overflow: ellipsis; */
}
.dodlink{ background: #f8f8f8;border: 1px solid #f0f0f0; margin-bottom:5px; padding-left:3px; padding-top: 5px;}
.customdropdown{border-radius: 2px;position: relative;border: 1px solid #e8e8e8;padding:10px 20px 10px 10px;color:#4c4c4c;font-size:14px;height: 40px;}
.customdropdown span.custombuttonsmenuicon{border-left:1px solid #e8e8e8;position:absolute;right:0;top:0;padding:8px 10px 10px 10px; }
.customdropdown span.custombuttonsmenuicon i{margin-top:3px;color:#7c7c7c}
.customlabel{color:#7c7c7c;font-size:13px;padding-bottom:5px;display: inline-block}
.usericon{vertical-align: text-bottom}
.cust_com_title{color:#424242;padding-right:20px;position: relative}
.cust_com_title b{color:#1c8ab5;font-weight:normal}
.userDate, .activityDate{font-size:12px;color:#424242}

.usericon img{width:24px;height:24px;border-radius:100px;border:1px solid #f4f4f4}
.label-md,.label-ios, .label-wp {margin: 13px 2px 13px 0;}
.custtab-pane{display:none}
.custtab-pane:after{content:"";clear: both;display: block}
.custtab-pane.active{display:block}
.custnavtabs{list-style: none;border:0;padding:0;margin:0;display: table;margin:auto;padding-bottom:10px}
.custnavtabs li{background: #ececec;width:40px;height:40px;position: relative;border-radius:100px;float:left;margin-right:20px;text-align: center}
.custnavtabs li i{color:#1c8ab5; font-size: 25px; }
.custnavtabs li.t_comments a i{margin-top: 6px;}
.custnavtabs li.t_tasks a span{margin-top: 6px;font-size:24px;display:block}
.custnavtabs li.t_worklog a i{margin-top: 6px;}
.custnavtabs li a{text-decoration: none;color:#1c8ab5;display: block}
.custnavtabs li.active{background: #1c8ab5;}
.custnavtabs li.active {
	position: relative;
	
}
.custnavtabs li.active:after {
	bottom: -9px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ebedee;
	border-width: 10px 9px 10px 9px;
	margin-left: -10px;
}
.custnavtabs li.active i, .custnavtabs li.active a{color:#fff}
.custab-content .activitiesList{background: #ebedee;padding:10px;border-radius:3px;margin-top:-1px}
.cust_com_content {
	position: relative;border-radius:3px;background: #fff;padding:10px;margin-top:10px;color:#424242
	
}
.cust_com_content:after {
	bottom: 100%;
	left: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213, 213, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.divider{border-bottom: 1px solid #ebedee;margin:10px -10px 10px -10px}
.cust_com_content .userActivity:last-child .divider{display: none}
.cust_com_content .ticketActivity .bold{font-weight: 600}
.activityDate{text-align: right;color:#5f5f5f;font-size:12px;padding-top:5px}
/*.cust_commentsbox{margin-top:10px}*/
.custom_margintop10{margin-top:10px}
.activitiesList:first-child .cust_commentsbox, #t_comments .cust_commentsbox{margin-top:0}
.comments_menuouter{position: absolute;right:0;top:0;}
 .comments_menu{font-size:25px; text-align: right;
    width: 20px;}
.comments_menu i{font-size:25px;color:#1c8ab5}
.comments_menulist{position: absolute;right:20px;top:-4px;border-radius:3px}
.comments_menulist:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #fff;
	border-width: 10px 9px;
	margin-top: -10px;
}
.comments_menulist ul{padding:0;margin:0;list-style: none;display: table}
.comments_menulist ul:after{content:"";clear:both;display: block}
.comments_menulist{background: #fff}
.comments_menulist ul li{display:table-cell;padding:6px 10px;border-left:1px solid #f2f5f7}
.comments_menulist ul li i{font-size:20px;color:#0c2c3d}
.commentedtext {
    background: #e1ebfd;
    border-left: solid #0199e0 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 10px 31px 20px 10px;
    margin-bottom: 10px;position: relative
}
.commentedtextdelete{position:absolute;width:30px;text-align:center;right:5px;top:10px}
.commentedtextdelete i{font-size:20px;color:#1c8ab5}
.commentedtextdelete:hover i{color:#7f7f7f}
.user a img{border:0;outline:0}
.user a {vertical-align: middle;display: inline-block}
/*.margintop10{margin-top:10px}*/
.editorDiv .textEditor{border:1px solid #ccc;width:100%;min-height:40px;resize: vertical;
    overflow: auto;padding:10px}
.uploadbottom{width:30px;height:30px;overflow: hidden;position: relative;}
.uploadbottom i{font-size:30px}
.transparentinput{opacity: 0;font-size:100px;position: absolute;left:0;top:0;}
.customrow{padding-top:5px}
.customrow:after{content: "";clear:both;display:block}
.customrow .col50{float:left;width:50%}
.customrow .col50textright{text-align: right}
.buttonicon{background: none;border:0;}
.buttonicon i, .uploadbottom i{font-size: 26px;
    color:#1c8ab5}
ion-fab[right] {
    right: -11px;
}
ion-fab[top] {
    top: 0;
}
.fab-md ,.fab-wp , .fab-ios {font-size:20px;
  color: #1c8ab5;
  background-color: transparent;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 300ms cubic-bezier(0, 0, 0, 0), background-color 300ms cubic-bezier(0, 0, 0, 0), color 300ms cubic-bezier(0, 0, 0, 0);
}
.fab, .fab-close-icon{ height: 30px;
    line-height: 20px;border-radius:0;width:30px}
ion-fab-list[side="left"] {
    background: none repeat scroll 0 0 #fff;
    flex-direction: row-reverse;
    margin: 0 35px 0 0;padding-left:5px;
    right: 0;border-radius:3px
}
ion-fab-list[side="left"] button{border-right:1px solid #f2f5f7}
ion-fab-list[side="left"] button:first-child{border-right:0}
ion-fab-list[side="left"]:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #fff;
	border-width: 10px 9px;
	margin-top: -10px;
}
.fab-md.activated, .fab-wp.activated, .fab-ios.activated {
  background-color: transparent;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}
ion-fab-list {
    align-items: center;
   
    min-height: 35px;
    min-width: 38px;
    position: absolute;
    top: -8px;
}
ion-fab-list[side="left"] .fab-in-list, ion-fab-list[side="right"] .fab-in-list {
    margin: 0 4px 0 0;
}
.editorDivclose{background: #f4f4f4;border:1px solid #e8e8e8;padding:0px 5px 5px 5px;position: relative}
.commentedtextdeletenoabsolute{position: static;}
.deletediv{text-align: right}
.submitbutton{  border-radius: 50%;margin:1px 2px 1px 0;
    background-color: #3b9ec2; height: 40px;
     width: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.buttonicon.submitbutton i{font-size:1.4em;color:#fff}

.linkbutton{border-radius: 50%;margin-right:10px;
    background-color: transparent; height: 40px;
     width: 40px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
    color: #3b9ec2;
    transition: box-shadow 0ms cubic-bezier(0, 0, 0, 0) 0s, background-color 0ms cubic-bezier(0, 0, 0, 0) 0s, color 0ms cubic-bezier(0, 0, 0, 0) 0s;}

.buttonicon.linkbutton i{font-size:2em;color:#3b9ec2}
.ion-md-close:before{font-size:30px!important}
.ion-ios-close:before, .ion-wp-close:before{font-size:50px!important}

.super-tabs-toolbar{display: block!important}
.toolbar toolbar-md{height: 50px!important}
}

#suptab{

    super-tabs-toolbar{display: block!important;}
    .segment-md ion-segment-button { height:50px!important;}
    .badge-md-primary{display: block!important;}

}



.picker-opt-disabled {
    opacity:1!important;
}

.page-story-details .uploadbottom {
    width: 35px!important;
    height: 35px!important;
}

.uploadProgress {text-align: center;}

.fab-ios .fab-close-active{font-size: larger;}


