<!--
  Generated template for the StoryDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-menu [content]="content" side="left" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-buttons left>
        <img src="assets/images/logo.png" />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
   <ion-buttons right class="custombuttonsmenu custombuttonsmenuborderbottom">
      <button right menuToggle>
        <ion-icon name="md-menu"></ion-icon>
        </button>
 </ion-buttons>
    <ion-list >
      <ion-item *ngFor="let field of arrayList; let i=index;" id="item_{{i}}">
        <div *ngIf="!showEditableFieldOnly[i]">
          <h3>{{field.title}}</h3>
          <div id="field.title_field.id_{{i}}" *ngIf="isColorChange(field)" ng class="item" (click)="openOptionsModal(field, i)" class="spinnerlabel">{{field.assignTo}}</div>
          <div id="field.title_field.id_{{i}}" *ngIf="!isColorChange(field)" ng class="item" (click)="openOptionsModal(field, i)" >{{field.assignTo}}</div>
        </div>
      
        <ion-input *ngIf="enableTextField[i]" (blur)="inputBlurMethod($event, i, field)" class="no_mar spinnerlabel" id="field.title_field.id_{{i}}" type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" placeholder="{{field.title}}" value="{{field.assignTo}}" ></ion-input>
        <ion-input *ngIf="enableTextArea[i]" id="field.title_field.id_{{i}}"  (blur)="inputBlurMethod($event, i, field)" type="text" placeholder="{{field.title}}" class="bc" value="{{field.assignTo}}" ></ion-input>

        <div *ngIf="enableDataPicker[i]" class="no_mar">
          <ion-datetime id="field.title_field.id_{{i}}" displayFormat="MMM-DD-YYYY" [(ngModel)]="localDate" min="{{minDate}}" max="2317" (ionChange)="dateChange($event, i,field)">{{field.assignTo}}</ion-datetime>
        </div>
               
    </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-navbar>
    <ion-title>Story Details</ion-title>
    <ion-buttons right>
      <a ion-button icon-only (click)="openPopover($event)">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content no-padding>
  <div class="padding10trl">
    <ion-buttons start class="custombuttonsmenu custombuttonsmenumargintop">
      <button menuToggle>
        <ion-icon name="md-menu"></ion-icon>
        </button>
    </ion-buttons>
  </div>
  <div>
    <div class="dashboardbox_header">
      <i class="{{taskDetails.type}}"></i> <span class="ticketid">#{{taskDetails.ticketId}}</span> <span id="title" *ngIf="!enableEdatable"
        (click)="titleEdit($event)" (blur)="text=el.innerText" class="tickettitle">{{taskDetails.title}}</span>
      <input *ngIf="enableEdatable" [(ngModel)]="titleAfterEdit" />
    </div>
    <button *ngIf="enableEdatable" (click)="updateTitleCancel()">Cancel</button>
    <button *ngIf="enableEdatable" (click)="updateTitleSubmit()">Submit</button>
    <div class="padding10">
      <div style="position: relative;" class="customtoggle padding10">
<div id="description" style="overflow:hidden;" >
<div id="innerdesc" class="displayblock imgVideo_bg" [innerHTML]=" taskDetails.description "></div>
</div>
<div class="show-morediv" style="display:none">
<button id="show" (click)="expandDescription()" class="customshowbutton">Show more</button>
<button id="hide" (click)="collapseDescription()" class="customshowbutton" style="display:none">Show less</button>
</div>
</div>
</div>
</div>
</ion-content>