 <div id="no-more-tables">
   <table border="0" cellspacing="0" cellpadding="0" align="center">
  <thead>
<tr>
    <th width="55%"></th>
    <th width="15%" >Total</th>
    <th width="15%" >Assigned </th>
    <th width="15%" >Followed</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let topTick of statsData;let k=index;">
    <td style="text-align:left;">{{topTick.name}}</td>
     <td data-title="Total" ><span [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:topTick.id,filterType:topTick.type}" class="but cursor_pointer">{{topTick.total}}</span></td>
    <td data-title="Assigned" class="tdclr">{{topTick.assigned}}</td>
    <td data-title="Followed" class="tdclr">{{topTick.followed}}</td>
  </tr>
  </tbody>
  </table>
  </div>
