 <ion-header>
    <ion-toolbar>
        <ion-title>
            {{activatedFieldTitle}} 
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss({})">
            <span ion-text color="primary" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content #scrollContent padding>                        
      <ion-row style="padding: 16px;border-bottom: 1px solid #ccc;" 
              *ngFor="let item of displayFieldvalue; let i=index;" 
              [ngClass]="{'selectedMember': activatedFieldValue == item.Name}"
              (click)="dismiss(item)" center> 

              <div id="item_{{i}}"> 
                  <ion-icon *ngIf="activatedFieldValue == item.Name" name="checkmark"></ion-icon> 
                    {{item.Name}} 
                    <i *ngIf="isPriority" class="fa fa-circle {{item.Name}}" aria-hidden="true"></i> 
              </div> 
      </ion-row>
  </ion-content>
