<div class="container">

<div class="row">
    <div class="col-md-8">
        
    </div>
   </div> 


         
<div >
        <div class="container " id="nosearchdiv" >
<ul class="nav nav-tabs">
<!--<li class="active"><a (click)="callprojectsByClick(1)" data-toggle="tab">All Projects</a></li>
<li ><a (click)="callprojectsByClick(2)" data-toggle="tab">All Activity</a></li>-->
<!--(click)="createProject()"-->
<li class="active"><a  data-toggle="tab">Create Repository</a></li>
<li class="active"><a (click)="createUser()" data-toggle="tab">Create User</a></li>
<li class="active"><a (click)="showLog()" data-toggle="tab">Svn Log</a></li>
</ul>
 </div> 
    <div id="createProjectDiv">
        <div>
            Checkout Url:<br>
            <b>
                {{checkOutUrl}}
            </b>
        </div>
        <div class="user_more pull-right"  (click)="createFolder(folderName.value)" >
                       Create Folder 
         </div>
         <div>
         <input #folderName type="text" />
         </div>
        <ng-container *ngFor="let folderName of fileNavigator">
            <a (click)="comeBackToFolder(folderName)">{{folderName}}</a>/
        </ng-container>
        <ul>
            <li>
                <b>Folder</b>
                <b>Author</b>
                <b>Time</b>
                <b>Revision</b>
            </li>
            <li *ngFor="let repoData of repo">
                <a (click)="navigateToFolder(repoData.name)">{{repoData.name}}</a>
                <span>{{repoData.last_author}}</span>
                <span>{{repoData.time}}</span>
                <span>{{repoData.created_rev}}</span>
            </li>
        </ul>
    </div>
    <div id="createUserDiv">{{this.repo}}</div>
    <div id="showLogDiv">{{this.repo}}</div>
  <div class="tab-content tab-content_content" >

 

</div>
