page-story-details-followers {
.searchbar-md .searchbar-search-icon, .searchbar-ios .searchbar-search-icon, .searchbar-wp .searchbar-search-icon{left:9px}
ion-auto-complete{width:100%}
input[type="search"]{box-sizing: inherit;}
.searchbar-md .searchbar-input,.searchbar-ios .searchbar-input,.searchbar-wp .searchbar-input{padding:6px 40px}
.user img{vertical-align: middle}
ion-auto-complete ul{width:auto;right:10px;left:10px}
.searchpadding{padding:10px 10px 8px;background: #ebedee;margin-top:5px}
.followersList{}
.customuser{border-bottom:1px solid #d5d6d7;padding:10px 40px 10px 10px;position: relative}
.customremovebutton{border-radius:5px;padding:10px;position: absolute;right:10px;top: 6px;height:32px;width:32px;line-height: 0;}
.customremovebutton i{line-height: 0;font-size:15px;color:#4c4c4c}
}
.top60{padding-top: 85px}