<ion-content padding>
    <div class="top60">
    <div class="padding10trl"> </div>
     <div class="dashboardbox_header">
                <i class="{{taskDetails.type}}"></i>
                <span class="ticketid">#{{taskDetails.ticketId}}</span>
                <span id="title" *ngIf="!enableEdatable" (click)="titleEdit($event)" (blur)="text=el.innerText" class="tickettitle">{{taskDetails.title}}</span>
            </div>
           
   
</div>
                <!--Ticket #113-->
                <div role="tabpanel" class="custtab-pane active" id="t_followers">
                  <div >
                      <div class="searchpadding">
                        <!--Auto complete add follower-->
                        <ion-auto-complete [dataProvider]="autoCompleteProvider" [options]="{ placeholder : 'Search to add followers' }" (itemSelected)='itemCustomSelected($event)' #searchbar></ion-auto-complete>
                      </div>
                        <!--Followers list-->
                        <div class="followersList">
                            <div id="followerdiv_{{follower.FollowerId}}" *ngFor="let follower of followers" class="followers_usr btn-group ">
                                <div class="user customuser">
                                    <img class="usericon" src="{{follower.ProfilePicture}}" alt="" />
                                    <span class="">{{follower.UserName}}</span>
                                    <button class="customremovebutton" (click)="presentConfirmRemoveFollower(follower.FollowerId)" id="follower_{{follower.FollowerId}}"
                                        *ngIf="follower.CreatedBy == userId || follower.FollowerId == userId" title="{{follower.UserName}}"><i class="fa fa-times" aria-hidden="true"></i>
</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

</ion-content>
