<!--
  Generated template for the HeaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar backbutton>
      <ion-buttons left *ngIf="logo==1 && !toggled">
        <img src="assets/images/logo.png"/>
      </ion-buttons>
      <ion-title id="header_title" center *ngIf="!toggled">{{title}}</ion-title>
<ion-buttons right *ngIf="!toggled && searchBar==1" >
         <a ion-button icon-only (click)="toggle()">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
       </ion-buttons>

<div class="search_border" *ngIf="toggled">
    
    <ion-row>
        <button left *ngIf="toggled" (click)="backToggled()">
        <ion-icon ios="ios-arrow-back2" md="md-arrow-back2"></ion-icon>
    </button>
    <ion-searchbar 
       *ngIf="toggled"
       [(ngModel)]="searchValue"
       (ionInput)="clickSearch($event)"
       (ionCancel)="cancelSearch($event)"
       (ionClear) = "cancelSearch($event)"
       [showCancelButton]="true">
    </ion-searchbar>
    <button  *ngIf="toggled" type="submit" class="btn js-search-submit" (click)="submitSearch()">
        <ion-icon name="search"></ion-icon>
    </button>
    </ion-row>
 </div>
 
       <ion-buttons right *ngIf="!toggled && notification==1">
 <div class="not_count" *ngIf="notify_count!=0">{{notify_count}}</div>
         <a ion-button icon-only (click)="gotoNotification()">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
       </ion-buttons>
<!--      <ion-icon name="search" (click)="clickSearch()" *ngIf="searchBar==1"></ion-icon>-->
      <ion-buttons right *ngIf="!toggled && profile==1">
        <a ion-button icon-only (click)="openPopover($event)">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
      </ion-buttons>
    </ion-navbar>
    <div *ngIf="leftPannel==1" class="leftpanelcust">
        <ion-buttons left class="custombuttonsmenu">
            <button left menuToggle>
                <ion-icon name="md-menu"></ion-icon>
            </button>
        </ion-buttons>
   </div>
</ion-header>