page-header {
.toolbar-background-md, .toolbar-background-ios, .toolbar-background-wp{
    background-image:none;
   
background: #6cbed6; /* Old browsers */
background: -moz-linear-gradient(top, #6cbed6 0%, #3b9ec2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #6cbed6 0%,#3b9ec2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #6cbed6 0%,#3b9ec2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cbed6', endColorstr='#3b9ec2',GradientType=0 ); /* IE6-9 */
  
}
.toolbar-title-md, .toolbar-title-ios, .toolbar-title-wp{text-align: center;color:#fff;}
.bar-button-md[icon-only] i, .bar-button-ios[icon-only] i, .bar-button-wp[icon-only] i{font-size:2.4em;color:#fff}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default, .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default{color:#fff!important;}

.toolbar .searchbar-md, .searchbar-ios, .searchbar-wp {}


.js-search-submit{ position: absolute; right:0px; top: 8px; bottom: 0px; font-size: 1.8em;color:#fff; background: none!important;}

.searchbar-input{color: #fff!important; background: none!important;box-shadow: none!important; }
.toolbar .searchbar-md, .toolbar .searchbar-wp{
    width:89%!important;
    padding: 0px;
}
.toolbar .searchbar-ios{width:85%!important;}

.searchbar-search-icon { background-image:none!important; display: none!important;}

.searchbar-clear-icon {background-image:none!important;}

/*.searchbar-md .searchbar-search-icon{ background-image: url(../assets/icon/search-all.png)!important;
    background-repeat: no-repeat;}*/
.ion-md-search{ top:5px!important;}
.ion-md-search::before{content:"\f002"!important;font-family: FontAwesome!important;
color: #fff!important;
/*    font-size:0.8em!important;*/
}
.ion-ios-search{ top:5px!important;}
.ion-ios-search::before{content:"\f002"!important;font-family: FontAwesome!important;
color: #fff!important;
/*    font-size:0.8em!important;*/
}

.ion-wp-search{ top:5px!important;}
.ion-wp-search::before{content:"\f002"!important;font-family: FontAwesome!important;
color: #fff!important;
/*    font-size:0.8em!important;*/
}





.notifhed{ position: relative;}
.not_count{ position: absolute; right: 0px;top: -7px; z-index:2; width: 25px; height: 25px; border-radius:100%; background: #ff0000;
color:#fff; font-size:12px; text-align: center; vertical-align: middle; font-weight: bold; padding-top:4px;}
/*.searchbar-md .searchbar-search-icon{   content: "\f060"!important;
    color: #fff!important; font-family: FontAwesome!important;}*/

.ion-md-arrow-back2{ left:10px!important;}
.ion-md-arrow-back2::before {
    content: "\f060"!important;
    color: #fff!important;
     font-family: FontAwesome!important;
     font-size: 1.2em!important;
}

.ion-ios-arrow-back2{ left:10px!important;}
.ion-ios-arrow-back2::before {
    content: "\f060"!important;
    color: #fff!important;
     font-family: FontAwesome!important;
     font-size: 1.4em!important;
}

.ion-wp-arrow-back2{ left:10px!important;}
.ion-wp-arrow-back2::before {
    content: "\f060"!important;
    color: #fff!important;
     font-family: FontAwesome!important;
     font-size: 1.2em!important;
}

.ion-md-arrow-back::before {
   background: none;
    color: #fff!important;
     font-family: FontAwesome!important;
     font-size: 0.8em!important;
     content: "\f060"!important;
     
}

.ion-ios-arrow-back::before {
   background: none;
    color: #fff!important;
     font-family: FontAwesome!important;
     font-size: 0.8em!important;
     content: "\f060"!important;
     
}



.ion-wp-arrow-back::before {
   background: none;
    color: #fff!important;
     font-family: FontAwesome!important;
     font-size: 0.8em!important;
     content: "\f060"!important;
    
}

.searchbar-input-container .ion-md-arrow-back::before { display:none!important;}


/*.searchbar-md .searchbar-clear-icon{ background-image: url(../assets/icon/search-all.png)!important;
    background-repeat: no-repeat;}*/



.searchbar-md .searchbar-input{ color: #fff!important; padding-left: 0px!important;padding: 6px 0px 6px 55px;}
.searchbar-ios .searchbar-input{ color: #fff!important; padding-left: 0px!important;padding: 6px 0px 6px 55px; background: none!important;}
.searchbar-wp .searchbar-input{ color: #fff!important; padding-left: 0px!important;padding: 6px 0px 6px 55px;}

.searchbar-input::before{display: none!important;}

button{ background: none!important;}
.searchbar-has-focus{ content: none!important; background: none!important;}

/*.searchbar{ border-bottom:solid 1px #fff;}*/

.searchbar-input-container {
   border-bottom:solid 1px #fff!important;
}
.toolbar .searchbar-ios.searchbar-has-focus .searchbar-ios-cancel{ display:none!important;}

/*.bar-button-md, .bar-button-ios, .bar-button-wp{font-size:0.8em!important;} */

.back-button-text{display:none!important;}

.searchbar-input::-moz-placeholder {
  color: white;
}

.searchbar-input:-ms-input-placeholder {
  color: white;
}

.searchbar-input::-webkit-input-placeholder {
  color: white;
}


}
