<div class="container">
    <div class="content">
        <span>Congratulations, you have successfully logged in!!</span>
        <br />
        <ng2-dropdown>
            <ng2-dropdown-button>
                Open Menu
            </ng2-dropdown-button>
              <ng2-dropdown-menu>
                <div class='ng2-menu-divider'></div>
                <ng2-menu-item>
                    My Home
                </ng2-menu-item>
                 <ng2-menu-item>
                    Profile
                </ng2-menu-item>
                <ng2-menu-item  (click)="logout()">
                    Logout
                </ng2-menu-item>
              </ng2-dropdown-menu>
        </ng2-dropdown>
    </div>
</div>