.pop_over_bg{
       background-color: #FFF;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1040;
    opacity: 0.5;
}
.pop_over_bg img{
    position: absolute; top:50%; left:45%;
}

.dragdrop{ 
    width: 100%; 
    height:auto; 
    min-height: 200px; 
    position: absolute; 
    left: 0px; bottom: 0px; 
    border: dashed 2px #ffcc00; 
    text-align:center; 
    padding: 30px 0px; 
    background: #4da1d2;
    z-index: 9999;
    
}   
.dragdrop:before{ 
    content: "Drag your files Here";
    text-align: center; color: #fff;
    position: absolute;
    left:40%; top:30%; 

}

.hide 
{
    display: none !important;
}

.expand_collapse
{
    text-align: right;
}


/*Followers*/
.add{ background:#207fa9; width:30px; height:30px;  text-align:center; vertical-align:middle; -webkit-border-radius:1100%;
 -moz-border-radius:100%;
 -o-border-radius:100%;
 border-radius:100%; float:right; display:table-cell;
padding:5px 10px; cursor:pointer; margin-top:10px;
  position: relative;
}

.add i{ color:#fff;}

.followers{ width:100%; height:auto; clear:both; }
.followers_usr{width:30px; height:30px; border-radius:50%; float:left;margin-right:20px; position:relative; cursor:pointer;}
.followers_usr img{ width:30px; height:30px; border-radius:50%; }
.followers_delete{ width:30px; height:30px;  background: url(../assets/images/close.png) no-repeat; position:absolute; left:0px; top:0px; display:none;}
.followers_usr:hover .followers_delete{width:30px; height:30px;  background: url(../assets/images/close.png) no-repeat; position:absolute; left:0px; top:0px;display:block!important;
}

.followers_usr title{ font-size:10px!important;}

.padd10{padding:0px 10px 8px;}

.add_followersbg {
	position: relative;
	background: #ebebeb;
	width:280px;
	height:auto; min-height:60px;
		border-radius:2px;
	 -moz-border-radius:2px;
	 -webkit-border-radius:2px;
	 padding-top:10px;
	 padding-bottom:10px;
}
.add_followersbg:after {
	bottom: 100%;
	right: 3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ebebeb;
	border-width: 6px;
	margin-left: -10px;
}

.delete_followersbg {
	position: relative;
	background: #ebebeb;
	width:200px;
	height:auto; min-height:80px;
		border-radius:2px;
	 -moz-border-radius:2px;
	 -webkit-border-radius:2px;
	 padding:10px;
	 margin-bottom: 20px;
         margin-left:-85px;
}
.delete_followersbg:after {
	bottom: 100%;
	left: 52%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ebebeb;
	border-width: 6px;
	margin-left: -10px;
}
.delete_followersbg_nobg{ border:none!important; background:none!important; box-shadow:none!important; }

.addfollower_userbg{  background:#ebebeb; border-top:#f3f3f3 solid 1px; cursor:pointer; clear:both; padding:5px 10px; display: block; margin: 0px 2px;}
.addfollower_userbg:hover{ background:#fafafa; padding:5px 10px;}
.addfollower_user{width:30px; height:30px; border-radius:50%;  overflow:hidden; position:relative; cursor:pointer;}
.addfollower_user img{ width:30px; height:30px; border-radius:50%; }
.addfollower_username{font-family: 'robotoregular'; font-size:14px; color:#9b9b9b; line-height:24px; text-align: left}
.addfollower_search{  border:none; outline:none; text-indent:8px; line-height:30px; width:100%;}

.yes{ background:#237ea7; color:#fff;font-family: 'robotoregular'; font-size:14px; padding:5px 10px; line-height:18px; text-align:center; display:inline-block;}
.no{background:#cacaca; color:#fff;font-family: 'robotoregular'; font-size:14px; padding:5px 10px; line-height:18px; text-align:center;display:inline-block;}
.addfollowers_overlap{
    //margin-top: -41px;
    position: absolute;
    right: 0px;
    top:40px;
    z-index: 9999;}
.followers .dropdown-toggle{box-shadow:none!important;}
.customdropdown-menu {
    background-clip: padding-box;
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.176);
    margin: 5px 0 0;
    min-width:100%;
    padding: 0px 0;
   
}
@media screen and (max-width:900px){
.delete_followersbg {
	 margin-left:0px;
}

.delete_followersbg:after {
	left:20px!important;
}

}



.comments
{
  border-radius: 3px;
  border: 5px solid #ccc;
}



/*Relate and Add Task CSS*/

.detailctask{ padding:10px 0px; background:#f8f8f8; margin-bottom:10px;}
.ctasktxtbox{ background:#fff; line-height:45px; outline:none; border:none; text-indent:10px; width:100%}
.addbut{ background:#237ea7; color:#fff; text-align:center; line-height:45px; cursor:pointer; text-transform:uppercase;}
.addtask{ background:#fbfbfb; clear:both; margin-bottom:1px; width:100%; height:auto; min-height:55px;}
.addtask_bor{ border-left:solid 1px #fff; padding-left:15px;}
.addtask_taskno{ font-size:15px; color:#000; font-weight:bold; line-height:30px; }
.addtask_title{ color:#000; font-size:15px; line-height:18px; margin-top:5px;}
.addtask_status{ color:#979797;font-size:14px; line-height:24px;}
.addtask label{ color:#6d6d6d;font-size:13px;font-family: 'robotoregular';font-weight: normal;}
.colapse{ background: #e0dfdf; cursor: pointer; text-align: center; display: table-cell; float: right; padding: 5px 10px; color: #fff; }
.widgetmainbg{ border:solid 1px #f0f0f0; padding:20px; margin-top: 50px;}

/* Progress bar */
.progress_bar{margin-left: 43%; margin-top:15%;position:absolute;}
