<p #paraAbove>
  Story Detail Page
</p>

<br/>

<div >
  <div >
    <!--Upper Panel-->
    <h1>#{{ticketData?.data?.TicketId}}</h1>{{ticketData?.data?.Title}}
    <br/>
    {{ticketData?.data?.Description}}
    
  </div>
  <div *ngFor="let field of fieldsData;let i=index;">
    <!--Left column-->
    <h2>{{field.title}}
      <b style="color: red;" *ngIf="field.required">*</b>
    </h2>
    
    <span *ngIf="field.readonly" data-text="readonly" id="{{field.id}}">{{field.value}}</span>
    <div [ngSwitch]="field.renderType" *ngIf="!field.readonly">
    <span (dblclick)="editThisField($event,i)" [hidden]="!showMyEditableField[i]" data-text="not readonly" id="{{field.id}}">{{field.value}}</span>
    
      <input *ngSwitchCase="'input'" type="{{field.type}}"  value="{{field.value}}" [hidden]="showMyEditableField[i]" (blur)="restoreField($event.target.value,field.id,i)">
           
      <select *ngSwitchCase="'select'" [hidden]="showMyEditableField[i]"  (blur)="selectBlurField(i)" (change)="restoreField($event.target.value,field.id,i)">
        <option selected value="{{field.value}}">{{field.value}}</option>
        <option>test1</option>
        <option>test2</option>
        <option>test3</option>
        <option>test4</option>
      </select>
      
    </div>

  </div>
  
  
</div>

<!--<button (click)="onClick(paraAbove.innerHTML)">Click this</button>-->
