.pop_over_bg{
       background-color: #FFF;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1040;
    opacity: 0.5;
 
}
.pop_over_bg img{
    position: absolute; top:50%; left:45%;
}

.dragdrop{ 
    width: 100%; 
    height:auto; 
    min-height: 200px; 
    position: absolute; 
    left: 0px; bottom: 0px; 
    border: dashed 2px #ffcc00; 
    text-align:center; 
    padding: 30px 0px; 
    background: #4da1d2;
    z-index: 9999;
    
}   
.dragdrop:before{ 
    content: "Drag your files Here";
    text-align: center; color: #fff;
    position: absolute;
    left:40%; top:30%; 

}

.hide 
{
    display: none !important;
}

.expand_collapse
{
    text-align: right;
}