
<div class="modal fade custommodel"  id="addBucketModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{(Type=='New')?'Create Bucket':'Edit Bucket'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
      
        <form #addBucketForm="ngForm" (ngSubmit)="submitted && addBucketForm.form.valid && typeAheadResults.flag && BucketForAddorEdit(Type)" novalidate="true">
            <div class="modal-body">
                <div *ngIf="bucketSuccessMsg.length > 0"id="bucketSuccessMsg" class="{{bucketMsgClass}}">
                    {{bucketSuccessMsg}}
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <label class="timereportlabel"> Bucket Name </label>
                        <div class="customformfieldsmarginbottom ">
                            <!--placeholder="Bucket Name"-->
                            <input type="text" class="spinner_relative" pInputText [(ngModel)]="form.title" name="title"  #title="ngModel"  minlength="3" pattern="^[a-zA-Z0-9\s\._\-]+$" (keyup)="checkBucketName(form.title)" autocomplete="off" required/>
                            <div  class="txtbox_spinner {{spinnerSettings.color}}_color"><i class="{{spinnerSettings.class}}" aria-hidden="true"></i></div>
                            <div *ngIf="submitted && title.errors " class="fielderror">
                                <div [hidden]="!title.errors.required">
                                  Bucket Name can not be blank
                                </div>
                                <div [hidden]="!title.errors.minlength">
                                  Bucket Name must have at least 3 characters.
                                </div>
                                <div [hidden]="!title.errors.pattern">
                                  Bucket Name should be alphanumeric
                                </div>
                            </div>
                            <div *ngIf="typeAheadResults.msg != ''" id="addTitleErrMsg" class="fielderror">
                                {{typeAheadResults.msg}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <label class="timereportlabel"> Description </label>
                        <div class="customformfieldsmarginbottom relativediv ">
                            <textarea  [(ngModel)]="form.description" id="bucketDescId" name="description"  #description="ngModel"  class="customformfieldstextarea " required></textarea>
                            <div *ngIf="submitted && description.errors " class="fielderror">
                                <div [hidden]="!description.errors.required">Description is required</div>
                                <!--maxlength="500"-->
                                <!--<div [hidden]="!description.errors.maxlength">Description should be less than 500</div>-->
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row marb5">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="timereportlabel"> Start Date </label>
                        <div class="calen_issue">
                            <p-calendar required  [(ngModel)]="form.startDateVal" name="startDateVal"  #startDateVal="ngModel" [minDate]="minDate"  class="primeDateComponent customcalenderdiv"  [readonlyInput]="true" [minDate]="calendarVal" [showIcon]="true"  dateFormat="M-dd-yy" id="addTimelogDate"></p-calendar>
                        </div>
                        <div *ngIf="submitted && startDateVal.errors " class="fielderror">
                            <div  [hidden]="!startDateVal.errors.required">Start Date is required</div>
                        </div>
                    </div>
                
                
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="timereportlabel"> End Date </label>
                        <div class="calen_issue">
                            <p-calendar required [(ngModel)]="form.dueDateVal" name="dueDateVal"  #dueDateVal="ngModel" [minDate]="form.startDateVal"  class="primeDateComponent customcalenderdiv"  [readonlyInput]="true" [minDate]="calendarVal" [showIcon]="true"  dateFormat="M-dd-yy" id="addTimelogDate"></p-calendar>
                        </div>
                        <div *ngIf="submitted && dueDateVal.errors " class="fielderror">
                            <div  [hidden]="!dueDateVal.errors.required">End Date is required</div>
                        </div>
                        <div id="addDueDateErrMsg" class="fielderror" style="display:none;"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <label class="timereportlabel"> Owner </label> 
                        <div class="custom_selctdropdown2" id="filterDropdown">
                            <p-dropdown required [style]="{'width':'367px'}" [(ngModel)]="form.selectedUserFilter" name="selectedUserFilter" #selectedUserFilter="ngModel" (onChange)="filterCreateBucketUsers()" [displayOptions]="FilterOptionToDisplay" [options]="FilterOption"></p-dropdown>
                        </div>
                        <div *ngIf="submitted && selectedUserFilter.errors " class="fielderror">
                            <div  [hidden]="!selectedUserFilter.errors.required">Please select Responsible</div>
                        </div>
                        <div id="responsibleErrMsg" class="fielderror" style="display:none;"></div>
                     </div>
                </div>

                <div *ngIf="Type == 'New'" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <div class="modal_checkboxlable ">
                            <p-checkbox name="setCurrent"  binary="true" [(ngModel)]="form.setCurrent"  #setCurrent="ngModel" label="Set as Current" class="nchbox" ></p-checkbox>
                        </div>
                        <!--<p-checkbox name="sendReminder" binary="true"  [(ngModel)]="form.sendReminder" #sendReminder="ngModel"  label="Send Reminder?" ></p-checkbox>-->
                    </div>
                </div>

                <div *ngIf="Type == 'New'" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 notetext">
                        <span class="Highest">Note:</span> It's the one that should be getting worked on
                    </div>
                </div>
                
            </div>
    
            <div class="modal-footer">
                <button type="submit" class="model_submit butnbor" (click)="submitted=true;">{{(Type=='New')?'SUBMIT':'UPDATE'}}</button>
                <button type="button" class="model_cancel butnbor" data-dismiss="modal" (click)="submitted=false;" >CANCEL</button>
            </div>

        </form>
        </div>
    </div>
</div>
