.search{color:#637282;}
.search .searchresulttext{padding:10px 0px;font-size:16px;color:#000;font-weight:600;}

.search .searchdiv{padding:10px 0;border-bottom:1px dotted #c1c7cd;color:#637282;}
.search .searchdiv .searchresulttitle a{color:#695ea5;font-size:16px; font-family: 'open_sansregular'; text-decoration: none;}
.search .searchdiv .searchresulttitle img{vertical-align:text-bottom}
.search .searchdiv .searchresultcontent{word-wrap: break-word;}
.search .searchdiv .modifieddate{font-size:12px;color:#637282;}
.search .searchdiv .modifieddate span{color:#695ea5}
.heighlight{background-color:#faf6d4;color:#0199e0}
.searchresulttitleusericon{width:30px;height:30px;max-width:30px;max-height:30px;display: inline-block;vertical-align: middle}
.searchresulttitleusericon img{max-width:100%;border-radius:100px;border:1px solid #e8e8e8;}
#searchsection{font-size:18px;font-weight: 600;text-align: center;color:#005072;padding-top:10px}
.searchresulttextmarginzero{border:0;margin-bottom:0}
.tabs-left .nav-tabs > li{float:none}
.tabpaddingleftzero{padding-left:0}
.tabpaddingrightzero{padding-right:0}
.tabs-left .nav-tabs > li > a{border-radius:0;font-family: "robotoregular";font-size:16px;color:#7c7c7c;background:#f7f9fa;border-color: #e6e8eb transparent #e6e8eb #e6e8eb;border-right:0;margin-right:0;cursor:pointer;font-family: 'open_sansregular';}
.tabs-left .nav-tabs > li.active > a, .tabs-left .nav-tabs > li.active > a:hover, .tabs-left .nav-tabs > li.active > a:focus{border-color: #e6e8eb transparent #e6e8eb #e6e8eb;color:#695ea5;background: #fff;margin-right:-1px;position:relative;border-radius:0;border-right:0;z-index: 1}

.tab-content_content{border:1px solid #e6e8eb;min-height:221px;padding:10px 20px}

.breadcrumb{ margin-bottom:0px!important;}


