.search{}.search .searchresulttext{border-bottom:solid 1px #f0f0f0;padding:10px 0px;font-size:16px;color:#000;margin-bottom:20px;font-weight:600;}
.search .searchdiv{padding:10px 0;border-bottom:1px dotted #ccc;}
.search .searchdiv .searchresulttitle a{color:#0199e0;font-size:16px;font-weight:600}
.search .searchdiv .searchresulttitle img{vertical-align:text-bottom}
.search .searchdiv .searchresultcontent{word-wrap: break-word;}
.search .searchdiv .modifieddate{font-size:12px;color:#7b7b7b;}
.search .searchdiv .modifieddate span{color:#0199e0}
.heighlight{background-color:#faf6d4;color:#0199e0}
.searchresulttitleusericon{width:30px;height:30px;max-width:30px;max-height:30px;display: inline-block;vertical-align: middle}
.searchresulttitleusericon img{max-width:100%;border-radius:100px;border:1px solid #e8e8e8;}
#searchsection{font-size:18px;font-weight: 600;text-align: center;color:#005072;padding-top:10px}
.searchresulttextmarginzero{border:0;margin-bottom:0}
.tabs-left .nav-tabs > li{float:none}
.tabpaddingleftzero{padding-left:0}
.tabpaddingrightzero{padding-right:0}
.tabs-left .nav-tabs > li > a{border-radius:0;font-family: "robotoregular";font-size:16px;color:#7c7c7c;background:#f8f8f8;border-color: #f0f0f0 transparent #f0f0f0 #f0f0f0;border-right:0;margin-right:0;cursor:pointer}
.tabs-left .nav-tabs > li.active > a, .tabs-left .nav-tabs > li.active > a:hover, .tabs-left .nav-tabs > li.active > a:focus{border-color: #f0f0f0 transparent #f0f0f0 #f0f0f0;color:#0199e0;background: #fff;margin-right:-1px;position:relative;border-radius:0;border-right:0;z-index: 1}

.tab-content_content{border:1px solid #f0f0f0;min-height:221px;padding:10px 20px}

