<div class="search">
<div class="searchresulttext searchresulttextmarginzero">Search results for <span class="heighlight">{{searchString}}</span> in 

<span *ngIf="projectName">{{projectName}}</span><span *ngIf="!projectName">All</span></div>

<div *ngIf="checkData==0">
     <div class="clearboth marb20">
             <div class="custom_selctdropdown pull-right marb20">
   <p-dropdown  [style]="{'width':'220px'}" [(ngModel)]="selectedProject" [ngValue]="selectedProject" (onChange)="changeProject()" [displayOptions]="optionTodisplay"   [options]="projects">
<ng-template  let-projects pTemplate="item">
    {{projects.value.id}}<span class="pull-right purple_color"> {{projects.value.name}} </span>
                  </ng-template>
          </p-dropdown>
     </div>
     </div>
          </div>

 <div class="tabbable tabs-left row" style="clear:both;">
 
     <div class="col-xs-12 col-sm-3 col-md-3 tabpaddingrightzero" id="nosearchdiv" [style.display]="(searchDivTabs ==false) ? 'none':'inherit'">
<ul class="nav nav-tabs">
<li class="active"><a (click)="callsearchByClick(1)" data-toggle="tab">All  <span class="pull-right purple_color">{{allCount}}</span></a></li>
<li ><a (click)="callsearchByClick(5)" data-toggle="tab">Story/Task  <span class="pull-right purple_color">{{taskCount}}</span></a></li>
<li ><a (click)="callsearchByClick(2)" data-toggle="tab">Comments  <span class="pull-right purple_color">{{commentsCount}}</span></a></li>
<li><a (click)="callsearchByClick(3)" data-toggle="tab">Users  <span class="pull-right purple_color">{{userDataCount}}</span></a></li>
<li><a (click)="callsearchByClick(4)" data-toggle="tab">Artifacts  <span class="pull-right purple_color">{{artifactsCount}}</span></a></li>
</ul>

 </div>


  <div id="noseachdivclass" class="{{noSearchDivClass}}">
      
     <div class="tab-content tab-content_content" >
  <div id="mainSearchDiv" *ngFor="let searchData of searchArray">

      <div *ngFor=" let finalData of searchData" >
         <div  *ngIf="finalData.description" class="searchdiv">
<div class="searchresulttitle" *ngIf="!finalData.ProfilePicture">
<img *ngIf="finalData.planlevel=='Story'" src="assets/images/story-icon.png" />
<img *ngIf="finalData.planlevel=='Task'" src="assets/images/task-icon.png" />
 <a [routerLink]="['/project',finalData.Project.ProjectName,finalData.TicketId,'details']" >#{{finalData.TicketId}} {{finalData.Title}}</a>
</div>
<div class="searchresulttitle" *ngIf="finalData.ProfilePicture">
    <span class="searchresulttitleusericon">
<img *ngIf="finalData.ProfilePicture" src="{{finalData.ProfilePicture}}" />
</span>

 <a> {{finalData.Title}}</a>
</div>
<div class="searchresultcontent"  [innerHTML]="finalData.description">
<span class="not_mention">
 </span>
</div>
<div class="modifieddate" *ngIf="!finalData.ProfilePicture">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.reportedby}}</span>-{{finalData.Project.ProjectName}}</div>
<div class="modifieddate" *ngIf="finalData.ProfilePicture">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.Title}}</span></div>
</div>

    <div  *ngIf="!finalData.description">
        <div  *ngFor=" let commentData of finalData.comments" class="searchdiv">
<div class="searchresulttitle">
<img *ngIf="finalData.planlevel=='Story'" src="assets/images/story-icon.png" />
<img *ngIf="finalData.planlevel=='Task'" src="assets/images/task-icon.png" />
 <a [routerLink]="['/project',finalData.Project.ProjectName,finalData.TicketId.TicketId,'details']" [queryParams]= "{Slug:commentData.Slug.$oid}" >#{{finalData.TicketId.TicketId}} {{finalData.Title}}<span class="heighlight"></span></a>
</div>
<div class="searchresultcontent" [innerHTML]="commentData.CrudeCDescription">
<span class="not_mention">
</span>
</div>
<div class="modifieddate">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.reportedby}}</span>-{{finalData.Project.ProjectName}}</div>
</div>

</div>
</div>


</div>
<div id="searchsection"></div>
</div>
</div>

</div>

</div>


