     <div class="all_activitybg">
     <div *ngFor=" let activityData of activityDetails" > 
           <div class="activity_date">
                 <div class="month">{{activityData[0].Month}}</div>
                 <div class="date">{{activityData[0].Day}}</div>
                 <div class="clearfix">{{activityData[0].Year}}</div>
            </div>
             <div class="all_activity">
            <div *ngFor=" let finalData of activityData" > 
           
                  
                     
                         <div *ngIf="finalData.ChangeSummary!=''"> 
                         <div *ngFor=" let ChangeSummary of finalData.ChangeSummary" >     
                              <div class="allactivitydiv">               
                        <div class="activityusericon" *ngIf="finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>
                         <div class="activityusericon" *ngIf="!finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>  
                        <div class="activity_description">
                        <div class="activity_content"><span class="activity_mention">{{finalData.userName}}</span>
                         <!--has added <span class="activity_mention">moin.hussian</span> to -->
                         {{finalData.DisplayAction}}
                        {{ChangeSummary.ActionOn}}
                        <span class="activity_mention" *ngIf="!ChangeSummary.OldValue && ChangeSummary.NewValue"> to</span>
                        <span class="activity_mention" *ngIf="ChangeSummary.OldValue"> from {{ChangeSummary.OldValue}}</span>
                         <span *ngIf="ChangeSummary.OldValue && ChangeSummary.NewValue"> to</span> {{ChangeSummary.NewValue}} in {{finalData.Title}}
                         <!--<img *ngIf="finalData.planlevel=='Story'" src="assets/images/story-icon.png" class="story_task_img"/>
                        <img *ngIf="finalData.planlevel=='Task'" src="assets/images/task-icon.png" class="story_task_img"/>-->
                           <!--<span class="activity_mention">{{finalData.Title}}</span>  as a follower --></div> 
                        <div class="not_activity_date">({{finalData.time}}) <span>{{finalData.ProjectName}}</span></div>
                        </div> 
                        </div>
                    </div> 
                             </div>
                   
                   
            </div>
            </div>
        </div>
        </div>
