  <div class="activity_hed">Activity</div>
            <div class="devider1 martb5"></div>
        <div *ngIf="dashboardData.activities!=''">
                  <div *ngFor="let getActivity of dashboardData.activities;let i=index;">
                         <div class="activity_date">
                                  <!--<div class="devider1 martb5"></div>-->
            <div class="activity_datebg">
                <div class="datemonth"><span>{{getActivity.activityDate| dateFormat:'MMM'}}</span>{{getActivity.activityDate | dateFormat:'DD'}}</div>
                <div class="Year">{{getActivity.activityDate| dateFormat:'YYYY'}}</div>
            </div>
                         </div>
                 <div *ngFor=" let finalData of getActivity.activityData;let j=index;" >
                        <div *ngIf="finalData.ChangeSummary!=''"> 
                                <div *ngFor=" let ChangeSummary of finalData.ChangeSummary" >
                                            <div class="activities_bg">
                                                <div class="user" *ngIf="finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>
                                                <div class="user" *ngIf="!finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>

<div class="activitycon">{{finalData.userName}}  {{finalData.DisplayAction}} {{ChangeSummary.ActionOn}} 
                        <span class="" *ngIf="!ChangeSummary.OldValue && ChangeSummary.NewValue"> to</span>
                        <span class="" *ngIf="ChangeSummary.OldValue"> from {{ChangeSummary.OldValue}}</span>
                         <span *ngIf="ChangeSummary.OldValue && ChangeSummary.NewValue"> to</span> {{ChangeSummary.NewValue}} in {{finalData.Title}}
                         </div>
                <div class="activitypro">({{finalData.time| dateFormat:'hh:mm:ss A'}}) -{{finalData.ProjectName}}</div>
            </div> 
                                      </div>
                            </div>
                  </div>
            <!--</div>-->
                        </div>
                </div>
                <span class="no_record_found" *ngIf="noActivitiesFound">No activity</span>
    <span class="no_record_found" *ngIf="!noActivitiesFound && noMoreActivities">No more activities</span>
      


