  <div class="activity_hed">Activity</div>
            <div class="devider1 martb5"></div>
        <div *ngIf="dashboardData!=''">
                  <div *ngFor="let getActivity of dashboardData.activities;let i=index;">
                         <div class="activity_date">
            <div class="activity_datebg">
                <div class="datemonth"><span>{{getActivity.activityDate| dateFormat:'MMM'}}</span>  {{getActivity.activityDate | dateFormat:'DD'}}</div>
                <div class="Year">  {{getActivity.activityDate| dateFormat:'YYYY'}}</div>
            </div>
                         </div>
                 <div *ngFor=" let finalData of getActivity.activityData;let j=index;" >
                        <div *ngIf="finalData.ChangeSummary!=''"> 
                           <div *ngFor=" let ChangeSummary of finalData.ChangeSummary" >
                              <div class="activities_bg">
                                  <span *ngIf="finalData.Title.includes('#')" >
                                      <span *ngIf="finalData.Miscellaneous.Slug">
                                         <a  [routerLink]="['/project',finalData.ProjectName,finalData.ReferringId,'details']"  [queryParams]= "{Slug:finalData.Miscellaneous.Slug.$oid}">
                                         <div class="user" *ngIf="finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>
                                          <div class="user" *ngIf="!finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>
                                            <div class="activitycon">{{finalData.userName}}  {{ChangeSummary.prepare_text}} 
                                            <span class="" *ngIf="ChangeSummary.action"> {{ChangeSummary.action}}</span>
                                            <span class="" *ngIf="ChangeSummary.OldValueText"> {{ChangeSummary.OldValueText}}</span>
                                             <span *ngIf="ChangeSummary.OldValue">"{{ChangeSummary.OldValue}}"</span>
                                            <span class="" *ngIf="ChangeSummary.NewValueText"> {{ChangeSummary.NewValueText}}</span>
                                        <span class="" *ngIf="ChangeSummary.NewValue">"{{ChangeSummary.NewValue}}"</span> <span *ngIf="!ChangeSummary.prepare_text.includes('replied')" >{{ChangeSummary.prepostion}}</span> {{finalData.Title}}
                                            </div>
                     <div class="activitypro">{{finalData.time| dateFormat:'hh:mm:ss A'}} -{{finalData.ProjectName}}</div>
               </a>
                </span>
                  <span *ngIf ="!finalData.Miscellaneous.Slug"> 
                       <a  [routerLink]="['/project',finalData.ProjectName,finalData.ReferringId,'details']">
                       <div class="user" *ngIf="finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>
                                          <div class="user" *ngIf="!finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>

                            <div class="activitycon">{{finalData.userName}}
                                 <span *ngIf="ChangeSummary.ActionOn.includes('stakeholder')">has assigned
                                      <span class="" *ngIf="ChangeSummary.NewValue">{{ChangeSummary.NewValue}}</span>
                                       {{ChangeSummary.prepare_text}} {{ChangeSummary.prepostion}}  {{finalData.Title}}
                                 </span>
                               
                            <span *ngIf="!ChangeSummary.ActionOn.includes('stakeholder')">
                                   <span *ngIf="ChangeSummary.ActionOn.includes('unfollow')||ChangeSummary.ActionOn.includes('follow')">{{ChangeSummary.prepare_text}} {{ChangeSummary.prepostion}} 
                                      <span class="" *ngIf="ChangeSummary.NewValue">{{ChangeSummary.NewValue}}</span>{{ChangeSummary.NewValueText}}
                                     to   {{finalData.Title}}
                                 </span>
                               <span *ngIf="!ChangeSummary.ActionOn.includes('unfollow') && !ChangeSummary.ActionOn.includes('follow')"> {{ChangeSummary.prepare_text}}
                            <span class="" *ngIf="ChangeSummary.action"> {{ChangeSummary.action}}</span>
                            <span class="" *ngIf="ChangeSummary.OldValueText"> {{ChangeSummary.OldValueText}}</span>
                            <span *ngIf="ChangeSummary.OldValue">"{{ChangeSummary.OldValue}}"</span>
                            <span class="" *ngIf="ChangeSummary.NewValueText"> {{ChangeSummary.NewValueText}}</span>
                        <span *ngIf="ChangeSummary.NewValue">"{{ChangeSummary.NewValue}}"</span> {{ChangeSummary.prepostion}} {{finalData.Title}}
                         </span>
                        </span>
                            </div>
                     <div class="activitypro">{{finalData.time| dateFormat:'hh:mm:ss A'}} -{{finalData.ProjectName}}</div>
                  </a>
                   </span>   
                </span>
                <span *ngIf="!finalData.Title.includes('#')">
                          <div class="user" *ngIf="finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>
                               <div class="user" *ngIf="!finalData.ProfilePicture"><img src="{{finalData.ProfilePicture}}"/></div>
                                  <div class="activitycon">{{finalData.userName}}  {{ChangeSummary.prepare_text}} 
                                    <span class="" *ngIf="ChangeSummary.action"> {{ChangeSummary.action}}</span>
                                    <span class="" *ngIf="ChangeSummary.OldValueText"> {{ChangeSummary.OldValueText}}</span>
                                     <span *ngIf="ChangeSummary.OldValue">"{{ChangeSummary.OldValue}}"</span>
                                    <span class="" *ngIf="ChangeSummary.NewValueText"> {{ChangeSummary.NewValueText}}</span>
                               "{{ChangeSummary.NewValue}}" <span *ngIf="!ChangeSummary.prepare_text.includes('created') && (ChangeSummary.occuredIn !='Bucket' || ChangeSummary.occuredIn !='Project') ">{{ChangeSummary.prepostion}} {{finalData.Title}}</span> <!--in  {{finalData.Title}}-->


                                           </div>
                     <div class="activitypro">{{finalData.time| dateFormat:'hh:mm:ss A'}} -{{finalData.ProjectName}}</div>
                            </span>
                </div> 
                
                                      </div>
                            </div>
                  </div>
                        </div>
                </div>
       
                <span class="no_record_found" *ngIf="noActivitiesFound">No activity</span>
    <span class="no_record_found" *ngIf="!noActivitiesFound && noMoreActivities">No more activities</span>
      


