<!-- Menu -->

<div class="custom_menu">
  <button data-toggle="tooltip" data-placement="top" title="List view" class="normal"><i class="fa fa-list" aria-hidden="true"></i></button>
  <button (click)="renderStoryForm()" data-toggle="tooltip" data-placement="top" title="Add Story/Task" class="normal bluebutton"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>



<ngx-datatable 
        class="material expandable customdatatable"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="count"
        [offset]="offset"
        [limit]="limit"
        (page)='onPage($event)'
        >


  <ngx-datatable-column name="Id" [flexGrow]="1" style="cursor: pointer">
    <template let-row="row" ngx-datatable-cell-template>
      <div style="cursor:pointer" title="{{row.Fields[3].readable_value.Name}}" (click)="showStoryDetail(row)">
        <img *ngIf="row.Fields[3].readable_value.Name=='Story'" src="assets/images/storyicon.png" width="15px" height="15px" title="{{row.Fields[3].readable_value.Name}}" />
        
        <img  *ngIf="row.Fields[3].readable_value.Name=='Task'" src="assets/images/task.png" width="15px" height="15px" title="{{row.Fields[3].readable_value.Name}}" />
        #{{row.TicketId}}
      </div>
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Title" [flexGrow]="5">
    <template let-row="row" ngx-datatable-cell-template>
      <div style="cursor:pointer" title="{{row.Fields[3].readable_value.Name}}" (click)="showStoryDetail(row)">
            {{row.Title}}
            </div>
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Assigned to" [flexGrow]="1">
    <template let-row="row" let-i="i" ngx-datatable-cell-template>
      <div *ngIf="row.Fields[4].value!=''">
      <img  class="profilepic"  src="{{row.Fields[4].readable_value.ProfilePicture}}" data-toggle="tooltip" data-placement="top" title="{{row.Fields[4].readable_value.UserName}}"/>
   </div>
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Priority" [flexGrow]="1">
    <template let-row="row" let-i="i" ngx-datatable-cell-template>
      {{row.Fields[5].readable_value.Name}}
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Bucket" [flexGrow]="1">
    <template let-row="row" let-i="i" ngx-datatable-cell-template>
      {{row.Fields[2].readable_value.Name}}
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status" [flexGrow]="1">
    <template let-row="row" let-i="i" ngx-datatable-cell-template>
      {{row.Fields[6].readable_value.Name}}
    </template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Due Date" [flexGrow]="1">
    <template let-row="row" let-i="i" ngx-datatable-cell-template>

      <strong>{{row.Fields[9].readable_value}}</strong>
      <strong></strong>

    </template>
  </ngx-datatable-column>




</ngx-datatable>



