<!-- Menu -->
<div class="custom_menu">
  <button data-toggle="tooltip" data-placement="top" title="List view" class="normal"><i class="fa fa-list" aria-hidden="true"></i></button>
  <button (click)="renderStoryForm()" data-toggle="tooltip" data-placement="top" title="Add Story/Task" class="normal bluebutton"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<ngx-datatable 
        class="material expandable customdatatable"
        [rows]="rows"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="count"
        [offset]="offset"
        [limit]="limit"
        [sortable]= "true"
        (page)="onPage($event)"
        (sort)="onSort($event)"
        (activate)="onActivate($event)"
        >

<!-- Column Template -->
 <ngx-datatable-column *ngFor="let column of columns;let i=index;" name="{{column.name}}" prop="{{column.sortby}}" [resizeable]="false"
  [flexGrow]="column.flexGrow">
  <template let-row="row" ngx-datatable-cell-template>
    <div class="{{column.class}} ">
      <img *ngIf="row[i].field_name=='Id'" src="assets/images/storyicon.png" />
      <!--<img  *ngIf="row.Fields[3].readable_value.Name=='Task'" src="assets/images/task.png"  title="{{row.Fields[3].readable_value.Name}}" />-->
      <img *ngIf="row[i].field_name=='assignedto' && row[i].other_data!=''" data-toggle="tooltip" data-placement="top" class="profilepic_table"
        src="{{row[i].other_data}}" data-toggle="tooltip" data-placement="top" title=" {{row[i].field_value}}" /> {{row[i].field_value}}
      <i *ngIf="row[i].field_name=='priority'" class="fa fa-circle {{row[i].field_value}}" aria-hidden="true"></i>
    </div>
  </template>
</ngx-datatable-column>
</ngx-datatable>



