 
 <div class="col-md-8">

 <div class="dashboard_probg marb20">
               <div class="clearfix">
                  <div class="col-md-9">
                      <div  class="project_heading">
                           <img *ngIf="setLogo" src="assets/images/logo.jpg" class="project_logo imgs 77" /> 
                         <img *ngIf="!setLogo" src="{{projectLogo}}" class="project_logo imgs 55"/>
                        {{projectName}}</div>
                  </div>
                  <div class="col-md-3">
                      <div class="user_more pull-right" data-backdrop="false" data-toggle="modal" data-target="#addProjectModel" (click)="clearEditedDetails(form)" >
                       Edit 
                        </div>
                  </div>
                  </div>
                  <div class="devider1 clearfix"></div>
                  <div class="col-md-12" id="projectDesc" [innerHTML]="description"></div>
                  
                  <div class="clearfix"></div>
                  
            </div>


   <div class="state_bg marb20">
                <div class="clearfix">
                   <div class="col-md-3 col-xs-12">
                      <div class="marb10">
                     All Stories/ Tasks<span class="but cursor_pointer" [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:1,filterType:'general'}">{{projectDetails.allTickets}}</span>
                      </div>
                   </div>
                   <div class="col-md-3 col-xs-12">
                       <div class="marb10">New <span class="but cursor_pointer" [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:1,filterType:'state'}">{{projectDetails.New}}</span></div>
                   </div>
                   <div class="col-md-3 col-xs-12">
                       <div class="marb10">Inprogress <span class="but" [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:3,filterType:'state'}">{{projectDetails.InProgress}}</span></div>
                   </div>
                   <div class="col-md-3 col-xs-12">
                      <div class="marb10">Closed <span class="but" [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:6,filterType:'state'}">{{projectDetails.closedTickets}}</span></div>
                   </div>
                </div>
            </div>

    <div class="row">
                <div class="col-md-6">
                    <div class="all_storytask marb20">
                        <div *ngFor="let extracttopTickets  of projectDetails.topTickets;let j=index;">
                      <!--<div *ngIf="extracttopTickets.id!=1">-->
                         <div class="clearfix marb10">
                           <div class="col-md-10 col-xs-9">{{extracttopTickets.name}}</div>
                           <div class="col-md-2 col-xs-3">
                              <div class="pull-right but cursor_pointer" [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:extracttopTickets.id,filterType:'individual'}"> {{extracttopTickets.total}}</div>
                           </div>
                        </div>
                      
                        <!--</div>-->
                      </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="all_storytask marb20">
                        <div class="clearfix marb10">
                           <div class="col-md-10 col-xs-9">Current week worked hours</div>
                           <div class="col-md-2 col-xs-3">
                              <div class="pull-right but">{{projectDetails.weeklyProjectTimeLog}}</div>
                           </div>
                        </div>
                        
                         <div class="clearfix marb10">
                           <div class="col-md-10 col-xs-9">Total worked hours</div>
                           <div class="col-md-2 col-xs-3">
                              <div class="pull-right but"> {{projectDetails.totalProjectTimeLog}}</div>
                           </div>
                        </div>
                     </div>
                </div>
             </div> 
       <div class="project">
            <div class="row">
               <div class="col-md-9">
                   <div class="heading2">Team <span class="but"><a href="">{{projectDetails.Team}}</a></span></div>
               </div>
               <div class="col-md-3">
                 <app-email-invite></app-email-invite>
                 </div>
            </div>
            <div class="row devider1"></div> 
              Active Users <span *ngIf="projectDetails.userInfo==''">(0) </span>
               <div class="row">
              <div class="col-md-12">
                 
                <div *ngIf="projectDetails.userInfo">
                  <div *ngFor="let extractUserInfo of projectDetails.userInfo| slice:0:10;let j=index;">
                        <img alt="" src="{{extractUserInfo.ProfilePicture}}" ata-toggle="tooltip" title="{{extractUserInfo.UserName}}"  class="active_userimg useractive">
                    </div>
                </div>
                  <span  id="demo" class="collapse"><img src="images/623-06124606n.jpg" class="active_userimg useractive"/><img src="images/623-06124606n.jpg" class="active_userimg useractive"/><img src="images/623-06124606n.jpg" class="active_userimg useractive"/></span>
            </div>
            <div *ngIf="userInfoLength>10">
                <div class="col-md-12">
                    <div class="user_more pull-right" data-toggle="collapse" data-target="#demo">More..</div>
                </div> 
            </div>     
   </div>
   </div>

 <div *ngIf="editPopUp">
      <app-project-form projectForm='edit' (appendLogoToParent)="appendLogo($event)" (appendDescriptionParent)="appendDescription($event)"></app-project-form>
 </div>


<div class="heading2">Buckets</div>

            <div class="row">
                <div class="col-md-9">
                    <div class="bucketbox">
                       <ul>
                         <li>Total <span> {{bucketStats.Total}}</span></li>
                         <li>Current <span>{{bucketStats.Current}}</span></li>
                         <li>Backlog <span>{{bucketStats.Backlog}}</span></li>
                         <li>Completed <span>{{bucketStats.Completed}}</span></li>
                         <li>Closed <span>{{bucketStats.Closed}}</span></li>
                         <div class="clearfix"></div>
                       </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="createbut pull-right" data-backdrop="false" data-toggle="modal" data-target="#addBucketModel" (click)="createBucketObj.clearForm('');">Create Bucket <i class="fa fa-plus ifontsize" aria-hidden="true"></i></div>
                    <!--<div class="createbut pull-right">Create Bucket <i class="fa fa-plus ifontsize15" aria-hidden="true"></i></div>-->
               <div  *ngIf="projectId != undefined">
                    <app-create-bucket  Type="New" [projectId]="projectId" [projectName]="projectName"></app-create-bucket>
                </div>
                
                </div>
            </div>

            <!--- Current Buckets Div-->
             <div class="clearfix" *ngFor="let current of currentBucketContainer;let current=index;">
              <div class="row devider1"></div>
               <div class="row">
                   <div class="col-md-8">
                      <div class="but" [routerLink]="['/project',projectName,'bucket']" [queryParams]="{BucketId:current.Id}">{{current.Name}}</div>
                   </div>
                   <div class="col-md-4">
                      <div class="float_right">
                         <img [src]="current.ProfilePicture" class="userpic"/> {{current.UserName}}
                      </div>
                   </div>
               </div>
               <div class="row devider1"></div>
               <div class="pro_bucketbg marb20">
                  <div *ngIf="current.BucketStatus==2" class="status_current">Current</div>
                  <div class="row">
                      <div class="col-md-8">
                         <div [innerHTML]="current.Description" class="prodashboard_desc marb10">
                             </div>
                      </div>
                      <div class="col-md-4">
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Start Date</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{current.StartDate | dateFormat:'MMM-DD-YYYY'}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">End Date</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{current.DueDate | dateFormat:'MMM-DD-YYYY'}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Stories/Tasks</div>
                             <div class="col-md-6 col-xs-6"><div class="but">{{current[0].TicketsCount}}</div></div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Total Story Points</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{current[0].StoryPoints}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Worked Hours</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{current[0].WorkedHours}}</div>
                          </div>
                      </div>
                  </div>
                  
                  <ng-container *ngIf="current[0].States.length!=0">
                       <app-state-chart classStr="chartbg" chartType="pie"   [stateCount]="current[0].States"></app-state-chart>
                  </ng-container>
                  
               </div>
               </div>
               <!--- Current Buckets Div End-->

               <!-- Current Week Buckets Div -->
               <div class="row">
               
                   <div *ngFor="let currentWeekBucket of currentWeekBucketContainer;let currentweek=index;"  class="col-md-6">
                   <div class="marb20">
                       <div class="row">
                   <div class="col-md-6">
                      <div class="but" [routerLink]="['/project',projectName,'bucket']" [queryParams]="{BucketId:currentWeekBucket.Id}">{{currentWeekBucket.Name}}</div>
                   </div>
                   <div class="col-md-6">
                      <div class="float_right">
                         <img [src]="currentWeekBucket.ProfilePicture" class="userpic"/> {{currentWeekBucket.UserName}}
                      </div>
                   </div>
               </div>
               <div class="row devider1"></div>
               <div class="pro_bucketbg backlog_bg ">
                  <div class="status_backlog">Backlog</div>
                  <div class="clearfix">
                      
                         <div [innerHTML]="currentWeekBucket.Description" class="prodashboard_desc marb10">
                             </div>
                   
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Start Date</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{currentWeekBucket.StartDate | dateFormat:'MMM-DD-YYYY'}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">End Date</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{currentWeekBucket.DueDate | dateFormat:'MMM-DD-YYYY'}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Stories/Tasks</div>
                             <div class="col-md-6 col-xs-6"><div class="but">{{currentWeekBucket[0].TicketsCount}}</div></div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Total Story Points</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{currentWeekBucket[0].StoryPoints}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Worked Hours</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{currentWeekBucket[0].WorkedHours}}</div>
                          </div>
                          </div>
                     
                  </div>
                  </div>
               
                   </div>
                   
                   
               </div>
               <!-- Current Week Buckets Div End -->
             
             
             <!--</div>-->
             
            <!--   <div class="clearfix">
                 
	<div class="row">
      	<h1>Bootstrap 3 Toogle Icon Button</h1>
  		<button data-toggle="collapse" data-target="#collapseDiv">More  (2)<i class="fa fa-arrow-up"></i></button><div class="collapse" id="collapseDiv">This is the collapsible content!</div>
	</div>

               </div>-->
               
                <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="">
    <div class="" role="tab" id="headingOne">
      <div *ngIf="moreCount>0" class="morebuckets" (click)="getOtherBuckets()">
        <a data-toggle="collapse" id="toggle_other" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           More <span>({{moreCount}})</span><i class="fa pull-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="devider1"></div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
       <div class="row">
               
                   <div *ngFor="let otherBuckets of otherBucketsContainer" class="col-md-6">
                   <div class="marb20">
                       <div class="row">
                   <div class="col-md-6">
                      <div class="but" [routerLink]="['/project',projectName,'bucket']" [queryParams]="{BucketId:otherBuckets.Id}">{{otherBuckets.Name}}</div>
                   </div>
                   <div class="col-md-6">
                      <div class="float_right">
                         <img [src]="otherBuckets.ProfilePicture" class="userpic"/>{{otherBuckets.UserName}}
                      </div>
                   </div>
               </div>
               <div class="row devider1"></div>
               <div class="pro_bucketbg backlog_bg ">
                  <div *ngIf="otherBuckets.BucketStatus==1" class="status_backlog">Backlog</div>
                  <div *ngIf="otherBuckets.BucketStatus==3" class="status_backlog">Completed</div>
                  <div *ngIf="otherBuckets.BucketStatus==4" class="status_backlog">Closed</div>
                  <div class="clearfix">
                      
                         <div [innerHTML]="otherBuckets.Description" class="prodashboard_desc marb10"></div>
                   
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Start Date</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{otherBuckets.StartDate | dateFormat:'MMM-DD-YYYY'}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">End Date</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{otherBuckets.EndDate | dateFormat:'MMM-DD-YYYY'}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Stories/Tasks</div>
                             <div class="col-md-6 col-xs-6"><div class="but">{{otherBuckets[0].TicketsCount}}</div></div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Total Story Points</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{otherBuckets[0].StoryPoints}}</div>
                          </div>
                          <div class="row marb10">
                             <div class="col-md-6 col-xs-6">Worked Hours</div>
                             <div class="col-md-6 col-xs-6 pro_bucketdetails">{{otherBuckets[0].WorkedHours}}</div>
                          </div>
                          </div>
                     
                  </div>
                  </div>
               
                   </div>                  
               </div>
    </div>
  </div></div>
</div>

<div class="col-md-4">
        <app-activities [dashboardData]="dashboardData" [noMoreActivities]="noMoreActivities" [noActivitiesFound]="noActivitiesFound"></app-activities>
        </div>

   
