<div (click)="loadFollowersWidget($event)" id="follwersAdd" class="add"><i id="follwersAddI" class="fa fa-plus" aria-hidden="true"></i>
    
     <!-- Search Follower list start -->
    <div id="followerdiv" style="display:none" class="addfollowers_overlap">
    <div class="add_followersbg ">
        <div class="padd10"><input id='followerId' type="text" placeholder="Search" class="addfollower_search" value="" (keyup)="getUsersForFollow($event.target.value)"/> </div>
        <div (click)="checkFollower(flist.id)" id="{{flist.id}}" *ngFor="let flist of follower_search_results">
            <div class="addfollower_userbg">
                <div class="row">
                   <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="addfollower_user">
                          <img data-toggle="tooltip" data-placement="top" class="profilepic_table" src="{{flist.ProfilePic}}" />
                      </div>
                   </div>
                   <div class="col-md-8 col-sm-8 col-xs-8">
                       <div class="addfollower_username">{{flist.Name}}</div>
                   </div>
                   <div class="col-md-2 col-sm-2 col-xs-2">
                       <span  id="check_{{flist.id}}"  style="font-size:18px;color:#53c808"></span>  
                   </div>
                </div>
            </div> 
                  
        </div>
   </div>
   </div>
   <!-- Search follower list end -->
    
    
    </div>
