 
 <div class="col-md-8">

 <div class="dashboard_probg marb20">
               <div class="clearfix">
                  <div class="col-md-9">
                      <div  class="project_heading">
                         <img *ngIf="setLogo" src="assets/images/logo.jpg" class="project_logo"/> 
                         <img *ngIf="!setLogo" src="{{projectLogo}}" class="project_logo"/>
                        {{projectName}}</div>
                  </div>
                  <div class="col-md-3">
                      <div class="user_more pull-right" data-backdrop="false" data-toggle="modal" data-target="#addProjectModel" (click)="clearEditedDetails(form)" >
                       Edit 
                        </div>
                  </div>
                  </div>
                  <div class="devider1 clearfix"></div>
                  <div class="col-md-12" id="projectDesc">{{description}}</div>
                  
                  <div class="clearfix"></div>
                  
            </div>


   <div class="state_bg marb20">
                <div class="clearfix">
                   <div class="col-md-3 col-xs-12">
                      <div class="marb10">
                     All Stories/ Tasks<span class="but cursor_pointer" [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:1}">{{projectDetails.allTickets}}</span>
                      </div>
                   </div>
                   <div class="col-md-3 col-xs-12">
                       <div class="marb10">New <span class="but cursor_pointer">{{projectDetails.New}}</span></div>
                   </div>
                   <div class="col-md-3 col-xs-12">
                       <div class="marb10">Inprogress <span class="but">{{projectDetails.InProgress}}</span></div>
                   </div>
                   <div class="col-md-3 col-xs-12">
                      <div class="marb10">Closed <span class="but">{{projectDetails.closedTickets}}</span></div>
                   </div>
                </div>
            </div>

    <div class="row">
                <div class="col-md-6">
                    <div class="all_storytask marb20">
                        <div *ngFor="let extracttopTickets  of projectDetails.topTickets;let j=index;">
                      <!--<div *ngIf="extracttopTickets.id!=1">-->
                         <div class="clearfix marb10">
                           <div class="col-md-10 col-xs-9">{{extracttopTickets.name}}</div>
                           <div class="col-md-2 col-xs-3">
                              <div class="pull-right but cursor_pointer" [routerLink]="['/project',projectName,'list']" [queryParams]="{page:1,sort:'desc',col:'Id',filter:extracttopTickets.id}"> {{extracttopTickets.total}}</div>
                           </div>
                        </div>
                      
                        <!--</div>-->
                      </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="all_storytask marb20">
                        <div class="clearfix marb10">
                           <div class="col-md-10 col-xs-9">Current week worked hours</div>
                           <div class="col-md-2 col-xs-3">
                              <div class="pull-right but">{{projectDetails.weeklyProjectTimeLog}}</div>
                           </div>
                        </div>
                        
                         <div class="clearfix marb10">
                           <div class="col-md-10 col-xs-9">Total worked hours</div>
                           <div class="col-md-2 col-xs-3">
                              <div class="pull-right but"> {{projectDetails.totalProjectTimeLog}}</div>
                           </div>
                        </div>
                     </div>
                </div>
             </div> 
       <div class="project">
            <div class="row">
               <div class="col-md-9">
                   <div class="heading2">Team <span class="but"><a href="">{{projectDetails.Team}}</a></span></div>
               </div>
               <div class="col-md-3">
                 <app-email-invite></app-email-invite>
                 </div>
            </div>
            <div class="row devider1"></div> 
              Active Users  
               <div *ngIf="projectDetails.userInfo==''">
                       (No Active Users)
                       </div>
              <div class="row">
              <div class="col-md-12">
                 
                <div *ngIf="projectDetails.userInfo">
                  <div *ngFor="let extractUserInfo of projectDetails.userInfo| slice:0:10;let j=index;">
                        <img alt="" src="{{extractUserInfo.ProfilePicture}}" class="active_userimg useractive">
                    </div>
                </div>
                  <span  id="demo" class="collapse"><img src="images/623-06124606n.jpg" class="active_userimg useractive"/><img src="images/623-06124606n.jpg" class="active_userimg useractive"/><img src="images/623-06124606n.jpg" class="active_userimg useractive"/></span>
            </div>
            <div *ngIf="userInfoLength>10">
                <div class="col-md-12">
                    <div class="user_more pull-right" data-toggle="collapse" data-target="#demo">More..</div>
                </div> 
            </div>     
   </div>
   </div>
   <div *ngIf="editPopUp">
       <app-project-form projectForm='edit'></app-project-form>
  </div>
</div>
<div class="col-md-4">
        <app-activities [dashboardData]="dashboardData" noMoreActivities=false noActivitiesFound=false></app-activities>
        </div>
   
