/* notification div */
.padding10{padding:65px 0px 0px}
.item-md.item-block .item-inner {padding-right:0px!important; border-bottom:none!important;}
.label-md {
    margin:0px!important;
}
.unread_notifications{ background:#ebedee; margin-bottom:1px; padding:10px 25px 5px 35px; position:relative;
 height:auto; min-height: 60px!important;}
.read_notifications{ background:#fff!important; border-bottom:1px soild #f3f4f5!important;}
.notifications_name{ color:#0199e0;vertical-align:top; }
.notifications_name a{ color:#0199e0; text-decoration:none;}
.notifications_name2{ color:#4c4c4c;vertical-align:top;}
.noti_date{ color:#a2a2a2; font-size:10px; float: left; width: 100%; line-height: 15px;}
.notificationusericon{ position: absolute; width: 24px; height: 24px; left:5px;}
.notificationusericon img{ width: 24px; height: 24px; border-radius:100%;}
.unread_notifications i.Story {
    background: #04355e none repeat scroll 0 0;
    position: relative;
    color: #fff;
}

.unread_notifications i.Story::after {
    content: "S";
    position: absolute;
    top: 2px;
    left:4px;
    font-weight: bold; font-size: 12px;
}
.unread_notifications i.Task {
    background: #0199e0 none repeat scroll 0 0;
    position: relative;
    color: #fff;
}

.unread_notifications i.Task::after {
    content: "T";
    position: absolute;
    top: 2px;
    left:4px;
    font-weight: bold; font-size: 12px;
}

.unread_notifications i {
    border-radius: 100%;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    text-align: center;
    margin-right: 5px;
}


.read_notifications i.Story {
    background: #04355e none repeat scroll 0 0;
    position: relative;
    color: #fff;
}

.read_notifications i.Story::after {
    content: "S";
    position: absolute;
    top: 2px;
    left:4px;
    font-weight: bold; font-size: 12px;
}
.read_notifications i.Task {
    background: #0199e0 none repeat scroll 0 0;
    position: relative;
    color: #fff;
}

.read_notifications i.Task::after {
    content: "T";
    position: absolute;
    top: 2px;
    left:4px;
    font-weight: bold; font-size: 12px;
}

.read_notifications i {
    border-radius: 100%;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    text-align: center;
    margin-right: 5px;
}


.label-md {
    line-height: 1!important;
}

.not_close{  position: absolute; right:5px; top:5px; text-align: center;width: 18px; height: 18px;border-radius:100%;background: #ddd; }
.not_close i{   cursor: pointer;
font-size: 12px; padding-top:2px; 
}
/*.not_close i::after{content: "";
    position: absolute;
    top: 2px;
    left:4px;
     font-size: 12px;
}*/

.unread_tab{
 margin-right: 5px;background-color: #0199e0;
}
.tabs-md .tabbar, .tabs-ios .tabbar, .tabs-wp .tabbar {
    background: #2087b6 none repeat scroll 0 0;
}

.tabs-md .tab-button[aria-selected="true"], .tabs-ios .tab-button[aria-selected="true"], .tabs-wp .tab-button[aria-selected="true"]{background: #1a6c92;color:#fff}
.tabs-md .tab-button, .tabs-wp .tab-button {color: rgba(255, 255, 255, 1); font-size: 2.5rem;min-width:3rem}
.tabs-md .tab-button[aria-selected="true"] .tab-button-text, .tabs-ios .tab-button[aria-selected="true"] .tab-button-text, .tabs-wp .tab-button[aria-selected="true"] .tab-button-text{transform: scale3d(1, 1, 1);}
.tabs-ios .tab-button{color: rgba(255, 255, 255, 1); font-size: 1.6rem;min-width:3rem}

.tabs .tab-item .icon.allnotifications {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../assets/icon/All-notifictions.png');
  background-size:contain;
}

.tabs .tab-item .icon.Unreadnotifications {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../assets/icon/unread-notifictions.png');
  background-size:contain;
}

.ion-md-Unread::before, .ion-ios-Unread::before, .ion-wp-Unread::before {
    background-image: url('../assets/icon/unread-notifictions.png');
    background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
    color:#fff;
    content:"";
    display:block
     /*background-size:contain;
    content: "\f0f3";color:#fff;*/
}

/*.Unread{background-image: url('../../assets/icon/unread-notifictions.png');
    background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
    color:#fff;
     background-size:contain;}*/

.ion-md-Unread, .ion-ios-Unread,ion-wp-Unread,.ion-md-All, .ion-ios-All, .ion-wp-All{height:30px; width:25px;}
/*.ion-md-All::before, .ion-ios-All::before, .ion-wp-All::before {
    
     content: "\f0f3";color:#fff;
}*/

.ion-md-All::before, .ion-ios-All::before, .ion-wp-All::before {
    background-image: url('../assets/icon/All-notifictions.png');
    background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
    color:#fff;
    content:"";
    display:block
     /*background-size:contain;
    content: "\f0f3";color:#fff;*/
}

.ion-ios-All-outline::before{
   background-image: url('../assets/icon/All-notifictions.png');
    background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
    color:#fff;
    content:"";
  width:30px; 
     
}

.ion-ios-Unread-outline::before{
    background-image: url('../assets/icon/unread-notifictions.png');
    background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
    color:#fff;
    content:"";
      width:30px; 
}



