<!--
  Generated template for the GlobalSearchStorytask page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>globalSearch-storytask</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content class="dashboardbox_content">
    <div class="leftpanelcust">Search result for <span class="heighlight">{{searchValue}}</span> in ProjectX.0</div>
<ion-list>
            <ion-item *ngFor="let item of dataStoryTask">
                    <div class="dashboardbox_header">
                        <i class="{{item.planlevel}}"></i> <span class="ticketid">#{{item.TicketId}}</span> <span class="tickettitle">{{item.Title}}</span>
                    </div>
                <div>
                   <span class="ticketDesc">{{item.description}}</span> 
                </div>
<!--                    <div class="dashboardbox_content">
                        <div class="dashboardbox_contentouterdiv">
                            <div class="width33per collabels">Last modified on <span class="ticketDate">({{item.UpdatedOn}})</span>, Created by <span class="createdBy">{{item.reportedby}}</span></div>
                        </div>
                    </div>-->       
                <div class="dashboardbox_content">
                    <div class="dashboardbox_contentouterdiv">
                        <div class="collabels">Last modified on <span class="ticketDate">({{item.UpdatedOn}})</span>, Created by <span class="createdBy">{{item.reportedby}}</span></div>
                    </div>
                </div>
            </ion-item>
</ion-list>
<div *ngIf="!moreDataLoaded" class="dashboardbox_footer" style="text-align: center;"> That’s all. No results found. </div>
</ion-content>
