   <div class="createbut pull-right" data-backdrop="false" data-toggle="modal" data-target="#inviteModel">Invite User <i class="fa fa-user-plus ifontsize" aria-hidden="true"></i></div>

      <!--Invite popup Starts -->
             <div class="modal fade custommodel" id="inviteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center text-uppercase">Invite User
        <!--<h5 class="modal-title">Invite</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="success_content" *ngIf="isSuccess">
          <!--<a href="#" class="close" data-dismiss="alert">&times;</a>-->
          Invitation sent successfully.
        </div>

            <div class="usrcomponent">

              <!--<p-autoComplete  [(ngModel)]="selectedUsers" [minLength]="1" placeholder="Search ...." [suggestions]="inviteUsers"  [style]="{'width':'100%'}" [styleClass]="invitesearch" (onSelect)="selectedValue($event)" #email  (keyup.enter)="validateEmail(email.value)"   (completeMethod)="searchUsersToInvite($event)" ></p-autoComplete>-->
              <p-autoComplete id="invite_search"   [delay]="1000" [(ngModel)]="selectedUsers" emptyMessage="No Results" [minLength]="1" placeholder="Add or search for users...." [suggestions]="inviteUsers"  [style]="{'width':'100%'}" [styleClass]="invitesearch" (onSelect)="selectedValue($event)" #email  (keyup.enter)="validateEmail(email)"   (completeMethod)="searchUsersToInvite($event)" >
                <ng-template  let-selectedUsers pTemplate="item">
                    <span> {{selectedUsers}} </span>
                    <div *ngIf="noResult" (click)="addNewUser()" class="but_add float_right">Add</div>
                </ng-template>
              </p-autoComplete>

            </div>
            <span class="fielderror" [hidden]="!isEmailValid">Email Invalid </span>
            <span class="fielderror" [hidden]="!isEmpty">Please add user to invite</span>
            <div id="invite_placeholder" class="addusers_place">Add users here to Invite</div>
            <div class="inuser"><div [hidden]="selectedUser.length==0"><p-chips value="" [(ngModel)]="selectedUser" [styleClass]="invitesearch " [allowDuplicates]="false" ></p-chips></div>
            </div>
      </div>
    
      <div class="modal-footer">
        <button *ngIf="selectedUser.length==0" class="model_submit butnbor but_unvisible"  [disabled]="selectedUser.length==0" (click)="sendInvitation()">Invite</button>
        <button *ngIf="selectedUser.length!=0"  class="model_submit butnbor but_visible"   (click)="sendInvitation()">Invite</button>
            <button class="model_cancel butnbor"  (click)="cancelInvitation()">Cancel</button>
      </div>
       
    </div>
  </div>
</div>
<!-- popup Ends -->
