.modal-content{background:#fff;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.modal-header{ background:#f7f9fa; border-bottom:solid 1px #e6e8eb; color:#695ea5; font:normal 16px/24px 'open_sansregular'; padding:5px 10px;}
.modal-title{ color:#695ea5; font:normal 16px/24px 'open_sansregular';}
.butnbor{ border:none; outline:none;}
.invitesearch{ background:#fff; border:solid 1px #e6e8eb; width:100%; height:35px; margin-top:50px!important;}
.invitesearch_result{ background:#f7f9fa; border:solid 1px #e6e8eb; border-top:none; color:#637282; font:normal 14px/24px 'open_sansregular'; }
.invitesearch_user{ background:#fff; border:solid 1px #e6e8eb; border-top:none; color:#637282; font:normal 14px/24px 'open_sansregular'; text-indent:10px; }
.createbut{ background:#695ea5; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:5px 40px 5px 5px; display:inline-block; color:#fff; font:normal 14px/20px 'open_sansregular'; cursor:pointer; position:relative;}
.createbut i{ color:#fff; position:absolute; right:7px; top:7px;}
.ifontsize{ font-size:18px;}
.model_submit{ background:#695ea5;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:5px; color:#fff; font:normal 14px/20px 'open_sansregular'; cursor:pointer; text-transform:uppercase; padding:5px 15px;}
.model_cancel{ background:#a7b4d3;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:5px; color:#fff; font:normal 14px/20px 'open_sansregular'; cursor:pointer; text-transform:uppercase; padding:5px 15px;}
.ui-corner-all {
    border-radius:none!important;
}
.success_content{color: #4F8A10;padding:5px 8px;border:#f8f8f8 solid 1px; font-size:14px; display: inline-block; border-radius:25px; margin-top: 10px;}
.addusers_place{margin-top: 50px; border: dashed 1px #a7b4d3; text-align: center; display:block; padding:10px;}
.but_add{ background:#5dcff3; display:inline-block; color:#fff; font:normal 14px/20px 'open_sansregular';padding:3px 7px;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer; }
.but_add a{ color:#fff; text-decoration:none;}
.but_add a:hover{ color:#0a7698;}
.but_add:hover{ color:#0a7698; cursor:pointer;}
