
<div class="clearfix"  *ngIf="dashboardData">

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="icon-addon ">
            <input type="text" placeholder="Search" class="form-control user_searchbox" id="userglobalsearch"  (keyup.enter)="globalSearch()">
          <i class="fa fa-search user_searchboxi" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right" style="font:normal 16px/25px 'open_sansregular';">Current week worked hours <span class="heading">{{(dashboardData.weeklyTimeLog!=0)?dashboardData.weeklyTimeLog:'0.00'}}</span></div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-9">
        <div class="heading">Projects ({{dashboardData.projectCount}})</div>
      </div>
      <div class="col-md-3">
        <div class="createbut pull-right"  data-toggle="tooltip" data-placement="top" title="Create Project" (click)="creationProject()" data-backdrop="false" data-toggle="modal" data-target="#addProjectModel">Create Project <i class="fa fa-plus ifontsize" aria-hidden="true"></i>

        </div>
      </div>

    </div>
    <div class="row devider1"></div>

    <div class="project" *ngFor="let pdetail of dashboardData.projects;let i=index;">
      <div class="row">
        <div class="col-md-12">
          <div class="heading2 cursor_pointer" [routerLink]="['/project',pdetail.projectName]">{{pdetail.projectName}}</div>
        </div>

      </div>
      <div class="row devider1"></div>
      <div class="row">
        <div class="col-md-12">
          Current Buckets <span class="nocurrent_bucket" *ngIf="pdetail.currentBucket==''">(No Current Buckets)</span><span *ngIf="pdetail.currentBucket!=''"><span class="but martb5 marr5 cursor_pointer" *ngFor="let bucket of pdetail.currentBucket;let j=index;"><span [routerLink]="['/project',pdetail.projectName,'bucket']" [queryParams]="{BucketId:bucket.Id}">{{bucket.Name}}</span></span></span>

        </div>
      </div>
      <div class="row devider1"></div>
      <div class="boxbg">
        <top-ticket-stats [projectName]="pdetail.projectName" [statsData]="pdetail.topTickets"></top-ticket-stats>
        <div class="row devider1"></div>
        <div class="clearfix">
          <div class="col-md-6"> Current week worked hours <span class="tdclr"> {{(pdetail.weeklyProjectTimeLog!=0)?pdetail.weeklyProjectTimeLog:'0.00'}}</span></div>
          <div class="col-md-6">
            <div class="float_right">Story Points <span class="tdclr"> {{pdetail.storyPoints}}</span></div>
          </div>
        </div>
      </div>
    </div>

     <span class="no_record_found" *ngIf="noProjectsFound">No project</span>
    <span class="no_record_found" *ngIf="!noProjectsFound && noMoreProjects">No more projects</span>
  </div>

  <div class="col-md-4">
    <div class="activity_hed">Activity</div>
    <div class="devider1 martb5"></div>
    <div *ngIf="dashboardData.activities!=''">
    <div *ngFor="let activity of dashboardData.activities;let i=index;">
      <div class="activity_datebg">
        <div class="datemonth"><span>{{activity.activityDate | dateFormat:'MMM' }}</span> {{activity.activityDate | dateFormat:'DD' }}</div>
        <div class="Year">{{activity.activityDate | dateFormat:'YYYY' }}</div>
      </div>
      <div class="activities_bg" *ngFor="let activitydata of activity.activityData ;let j=index;">
        <div class="user"><img src="{{activitydata.Profile}}" /></div>
        <div (click)="goToTicket(activitydata.Project,activitydata.TicketId,activitydata.id.$oid,activitydata.Slug.$oid)" *ngIf="activitydata.status=='changed'"
          class="activitycon">
          <span class="not_mention">
{{activitydata.from}}
</span> {{activitydata.type}} {{activitydata.ActivityOn}} from {{activitydata.OldValue | truncate :[150]}} to {{activitydata.NewValue | truncate :[150]}}
          for <span class="not_mention"> #{{activitydata.TicketId}}  {{activitydata.Title | truncate :[30]  }} </span>
          <div class="not_date">{{activitydata.date | dateFormat:'hh:mm:ss A'}} -{{activitydata.Project.ProjectName}}</div>
        </div>

        <div [style]="{cursor:pointer}" (click)="goToTicket(activitydata.Project,activitydata.TicketId,activitydata.id.$oid,activitydata.Slug.$oid)"
          *ngIf="activitydata.type!='changed'  && !activitydata.status  && activitydata.object!='mention' && activitydata.object!='comment' && activitydata.object!='reply'"
          class="activitycon">
          <span class="not_mention">
{{activitydata.from}}
    </span> {{activitydata.type}} <span class="not_mention">{{activitydata.to}}</span> {{activitydata.OtherMessage}}
          {{activitydata.Preposition}} &nbsp; <span class="not_mention">#{{activitydata.TicketId}} {{activitydata.Title | truncate :[30]  }} </span>
          <div class="not_date">{{activitydata.date | dateFormat:'hh:mm:ss A'}} -{{activitydata.Project.ProjectName}}</div>
        </div>

        <div [style]="{cursor:pointer}" (click)="goToTicket(activitydata.Project,activitydata.TicketId,activitydata.id.$oid,activitydata.Slug.$oid)"
          *ngIf="activitydata.status=='set' && activitydata.object!='task'" class="activitycon">
          <span class="not_mention">
{{activitydata.from}}
</span> {{activitydata.type}} {{activitydata.ActivityOn}} {{activitydata.Preposition}} {{activitydata.NewValue}}
          for <span class="not_mention">#{{activitydata.TicketId}} {{activitydata.Title | truncate :[30]  }} </span>
          <div class="not_date">{{activitydata.date | dateFormat:'hh:mm:ss A'}} -{{activitydata.Project.ProjectName}}</div>
        </div>
        <div [style]="{cursor:pointer}" (click)="goToTicket(activitydata.Project,activitydata.TicketId,activitydata.id.$oid,activitydata.Slug.$oid)"
          *ngIf="activitydata.object=='task' " class="activitycon">
          <span class="not_mention">
{{activitydata.from}}
</span> {{activitydata.type}} {{activitydata.ActivityOn}} {{activitydata.Preposition}} {{activitydata.NewValue}}
          <span class="not_mention">#{{activitydata.TargetTicketId}} {{activitydata.TargetTicketTitle | truncate :[30]  }} </span>for <span class="not_mention"> #{{activitydata.TicketId}} {{activitydata.Title | truncate :[30] }} </span>
          <div class="not_date">{{activitydata.date | dateFormat:'hh:mm:ss A'}} -{{activitydata.Project.ProjectName}}</div>
        </div>

        <div [style]="{cursor:pointer}" (click)="goToTicket(activitydata.Project,activitydata.TicketId,activitydata.id.$oid,activitydata.Slug.$oid)"
          *ngIf="activitydata.object=='mention'||activitydata.object=='comment' ||activitydata.object=='reply' " class="activitycon">
          <span class="not_mention">
{{activitydata.from}}
</span> {{activitydata.type}} <span class="not_mention">{{activitydata.ActivityOn}} </span> {{activitydata.Preposition}}&nbsp;<span class="not_mention">#{{activitydata.TicketId}} {{activitydata.Title | truncate :[30] }} </span>
          <div class="not_date">{{activitydata.date | dateFormat:'hh:mm:ss A'}} -{{activitydata.Project.ProjectName}}</div>
        </div>
      </div>
    </div>
    </div>
     <span class="no_record_found" *ngIf="noActivitiesFound">No activity</span>
    <span class="no_record_found" *ngIf="!noActivitiesFound && noMoreActivities">No more activities</span>
  </div>
</div>
    <!-- popup Starts -->
    <div *ngIf="creationPopUp">
      <app-project-form projectForm='create'></app-project-form>
</div>
<!-- popup Ends -->