<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#/story-dashboard"><img src="assets/images/logo.png" height="70" alt=""/></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-right">
      <div class="profilesection">
      <div class="pull-left"><ul class="nav navbar-nav headerrightnavbar"> <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{users.username}}<span class="caret"></span></a> <ul class="dropdown-menu">  
        <li ><a href="#" (click)="logout()">Logout</a></li> </ul> </li> </ul></div>
      <div class="pull-right">
      <div class="profilepic"><img src="assets/images/user_noimage.png" /></div><!--images/profilepic.jpg -->
      </div>
      
      </div>
      </div>
      
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>