<nav class="navbar navbar-default navbar-inverse headerbg">
  <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#/story-dashboard"><img src="assets/images/logo.png" alt=""/></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right top-menu top-right-menu">  
                        <!-- mesages -->  
                        <li class="dropdown searchboxareapaddingtop">
                          <span class="searchboxarea"><i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control searchbox" id="globalsearch" placeholder="Search ..." (keyup.enter)="globalSearchNavigate()"></span>
            <div id="searchError" class="alert alert-danger" style="display:none;"></div>
                          </li>
                           <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle customnotheader" href="#" aria-expanded="false">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                                <span class="badge badge-sm up bg-pink count">{{notify_count}}</span>
                            </a>
                          <ul class="dropdown-menu extended fadeInUp animated notification" tabindex="5002" style="outline: none;">
<!--Notification Msg start                            -->
<li class="notificationlist">
<div class="notificationdiv">
<span class="notificationusericon">
<img src="images/profile.jpg"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div class="not_content">
<span class="not_mention">
Praveen peddinti
</span> has assigned you to <img src="images/story-icon.png"/> <span class="not_mention">#54 Wire frame and HTML conversion fro web app </span>
@sateeshmandru @moinhussain @hareesh.bekkam
</div>
<div class="not_date">(Mar-17-2017 06:00)</div>
</div>
<a href="#" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li>
<li class="notificationlist">
<div class="notificationdiv">
<span class="notificationusericon">
<img src="images/profile.jpg"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div class="not_content">
<span class="not_mention">
Praveen peddinti
</span> has assigned you to <img src="images/story-icon.png"/> <span class="not_mention">#54 Wire frame and HTML conversion fro web app </span>
@sateeshmandru @moinhussain @hareesh.bekkam
</div>
<div class="not_date">(Mar-17-2017 06:00)</div>
</div>
<a href="#" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li><li class="notificationlist">
<div class="notificationdiv">
<span class="notificationusericon">
<img src="images/profile.jpg"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div class="not_content">
<span class="not_mention">
Praveen peddinti
</span> has assigned you to <img src="images/story-icon.png"/> <span class="not_mention">#54 Wire frame and HTML conversion fro web app </span>
@sateeshmandru @moinhussain @hareesh.bekkam
</div>
<div class="not_date">(Mar-17-2017 06:00)</div>
</div>
<a href="#" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li><li class="notificationlist">
<div class="notificationdiv">
<span class="notificationusericon">
<img src="images/profile.jpg"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div class="not_content">
<span class="not_mention">
Praveen peddinti
</span> has assigned you to <img src="images/story-icon.png"/> <span class="not_mention">#54 Wire frame and HTML conversion fro web app </span>
@sateeshmandru @moinhussain @hareesh.bekkam
</div>
<div class="not_date">(Mar-17-2017 06:00)</div>
</div>
<a href="#" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li><li class="notificationlist">
<div class="notificationdiv">
<span class="notificationusericon">
<img src="images/profile.jpg"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div class="not_content">
<span class="not_mention">
Praveen peddinti
</span> has assigned you to <img src="images/story-icon.png"/> <span class="not_mention">#54 Wire frame and HTML conversion fro web app </span>
@sateeshmandru @moinhussain @hareesh.bekkam
</div>
<div class="not_date">(Mar-17-2017 06:00)</div>
</div>
<a href="#" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li><li class="notificationlist">
<div class="notificationdiv">
<span class="notificationusericon">
<img src="images/profile.jpg"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div class="not_content">
<span class="not_mention">
Praveen peddinti
</span> has assigned you to <img src="images/story-icon.png"/> <span class="not_mention">#54 Wire frame and HTML conversion fro web app </span>
@sateeshmandru @moinhussain @hareesh.bekkam
</div>
<div class="not_date">(Mar-17-2017 06:00)</div>
</div>
<a href="#" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li><li class="notificationlist">
<div class="notificationdiv">
<span class="notificationusericon">
<img src="images/profile.jpg"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div class="not_content">
<span class="not_mention">
Praveen peddinti
</span> has assigned you to <img src="images/story-icon.png"/> <span class="not_mention">#54 Wire frame and HTML conversion fro web app </span>
@sateeshmandru @moinhussain @hareesh.bekkam
</div>
<div class="not_date">(Mar-17-2017 06:00)</div>
</div>
<a href="#" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li>
<!--Notification Msg End -->

<li><div class="notbuttonarea"><button class="normal bluebutton bluebuttonmedium clearfix margin-right5">MARK ALL AS READ</button> <button class="normal bluebutton bluebuttonmedium clearfix">VIEW ALL</button></div></li>
</ul>
                        </li>
                            <li class="dropdown text-center">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                                <img alt="" src="assets/images/user_noimage.png" class="img-circle profile-img thumb-sm">
                                <span class="username">{{users.username}} </span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pro-menu fadeInUp animated" tabindex="5003" style="outline: none;">
                                <li><a href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                              </ul>
    
   
    
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
