<nav class="navbar navbar-default navbar-inverse headerbg">
  <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#/story-dashboard"><img src="assets/images/logo.png" alt=""/></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right top-menu top-right-menu">  
                        <!-- mesages -->  
                        <li class="dropdown searchboxareapaddingtop">
                          <span class="searchboxarea"><i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control searchbox" id="globalsearch" placeholder="Search ..." (keyup.enter)="globalSearchNavigate()"></span>
            <div id="searchError" class="alert alert-danger" style="display:none;"></div>
                          </li>
                           <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle customnotheader" href="#" aria-expanded="false">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                                <span class="badge badge-sm up bg-pink count">{{notify_count}}</span>
                            </a>
                          <ul class="dropdown-menu extended fadeInUp animated notification" tabindex="5002" style="outline: none;">
                            <li class="notificationlist" *ngIf="notify_count==0">No Message</li>
<!--Notification Msg start                            -->
<li *ngFor="let notify of notification_msg "  class="notificationlist">
<div class="notificationdiv" id="{{notify.id.$oid}}">
<span class="notificationusericon">
<img src="{{notify.Profile}}"/>
</span>
<div class="not_description">
<div class="not_header">
<span class="not_profilename"></span>
</div>
<div (click)="goToTicket(notify.TicketId)"  *ngIf="notify.type=='changed'"  class="not_content">
<span class="not_mention">
{{notify.from}}
</span> {{notify.type}} {{notify.ActivityOn}} <img src="images/story-icon.png"/> from {{notify.Old}} to {{notify.New}} for <span class="not_mention">#{{notify.TicketId}}  {{notify.Title}} </span>
<!--@sateeshmandru @moinhussain @hareesh.bekkam-->
</div>

<div (click)="goToTicket(notify.TicketId)"  *ngIf="notify.type!='changed' && !notify.stakeholder && !notify.status && notify.type!='commented on' && notify.type!='mentioned'" class="not_content">
<span  class="not_mention">
{{notify.from}}
</span> {{notify.type}} {{notify.ActivityOn}} <img src="images/story-icon.png"/> <span class="not_mention">#{{notify.TicketId}} {{notify.Title}} </span>
<div class="not_date">{{notify.date}}</div>
</div>
<div (click)="goToTicket(notify.TicketId)"  *ngIf="notify.stakeholder" class="not_content">
<span  class="not_mention">
{{notify.from}}
</span> {{notify.type}} {{notify.ActivityOn}} <img src="images/story-icon.png"/> <span class="not_mention">#{{notify.TicketId}} {{notify.Title}} {{notify.stakeholder}}</span>
<div class="not_date">{{notify.date}}</div>
</div>
<div (click)="goToTicket(notify.TicketId)"  *ngIf="notify.status=='set'" class="not_content">
<span  class="not_mention">
{{notify.from}}
</span> {{notify.type}} {{notify.ActivityOn}} <img src="images/story-icon.png"/> <span class="not_mention">#{{notify.TicketId}} {{notify.Title}} </span>
<div class="not_date">{{notify.date}}</div>
</div>
<div (click)="goToComment(notify.TicketId,notify.Slug.$oid)"  *ngIf="notify.type=='mentioned'||notify.type=='commented on'" class="not_content">
<span  class="not_mention">
{{notify.from}}
</span> {{notify.type}} {{notify.ActivityOn}} <img *ngIf="notify.PlanLevel==1" src="assets/images/story-icon.png"/> <img *ngIf="notify.PlanLevel==2" src="assets/images/task-icon.png"/> <span class="not_mention">#{{notify.TicketId}} {{notify.Title}} </span>
<div class="not_date">{{notify.date}}</div>
</div>
<!--<div class="not_date">(Mar-17-2017 06:00)</div>-->
<!--<div class="not_date">{{notify.date}}</div>-->
</div>
<a type="button"   (click)="deleteNotification(notify.id.$oid,$event)" class="notificationdelete">
<i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>
</li>
<!--Notification Msg End -->

<li><div class="notbuttonarea"><button *ngIf="notify_count!=0" (click)="allRead()" class="normal bluebutton bluebuttonmedium clearfix margin-right5">MARK ALL AS READ</button> <button  class="normal bluebutton bluebuttonmedium clearfix">VIEW ALL</button></div></li>
</ul>
                        </li>
                            <li class="dropdown text-center">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                                <img alt="" src="assets/images/user_noimage.png" class="img-circle profile-img thumb-sm">
                                <span class="username">{{users.username}} </span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pro-menu fadeInUp animated" tabindex="5003" style="outline: none;">
                                <li><a href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                              </ul>
    
   
    
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
