<div class="search">
<div class="searchresulttext searchresulttextmarginzero">Search results for <span class="heighlight">{{searchString}}</span> in 
<span *ngIf="projectName">{{projectName}}</span><span *ngIf="!projectName">All</span></div>
 <div class="tabbable tabs-left row">
 
 <div class="col-xs-12 col-sm-3 col-md-3 tabpaddingrightzero">
<ul class="nav nav-tabs">
<li class="active"><a (click)="callsearchByClick(1)" data-toggle="tab">All</a></li>
<li ><a (click)="callsearchByClick(2)" data-toggle="tab">Comments</a></li>
<li><a (click)="callsearchByClick(3)" data-toggle="tab">Users</a></li>
<li><a (click)="callsearchByClick(4)" data-toggle="tab">Artifacts</a></li>
</ul>

 </div>
  <div class="col-xs-12 col-sm-9 col-md-9 tabpaddingleftzero">
      
     <div class="tab-content tab-content_content" >
  <div id="mainSearchDiv" *ngFor="let searchData of searchArray">

      <div *ngFor=" let finalData of searchData" >
         <div  *ngIf="finalData.description" class="searchdiv">
<div class="searchresulttitle" *ngIf="!finalData.ProfilePicture">
<img *ngIf="finalData.planlevel=='Story'" src="assets/images/story-icon.png" />
<img *ngIf="finalData.planlevel=='Task'" src="assets/images/task-icon.png" />
 <a [routerLink]="['/project',finalData.Project.ProjectName,finalData.TicketId]" (click)="navigateToStoryDetail(finalData.Project,finalData.TicketId,'')">#{{finalData.TicketId}} {{finalData.Title}}</a>
</div>
<div class="searchresulttitle" *ngIf="finalData.ProfilePicture">
    <span class="searchresulttitleusericon">
<img *ngIf="finalData.ProfilePicture" src="assets/images/user_noimage.png" />
</span>

 <a> {{finalData.Title}}</a>
</div>
<div class="searchresultcontent"  [innerHTML]="finalData.description">
<span class="not_mention">
 </span>
</div>
<div class="modifieddate" *ngIf="!finalData.ProfilePicture">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.reportedby}}</span></div>
<div class="modifieddate" *ngIf="finalData.ProfilePicture">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.Title}}</span></div>
</div>

    <div  *ngIf="!finalData.description">
        <div  *ngFor=" let commentData of finalData.comments" class="searchdiv">
<div class="searchresulttitle">
<img *ngIf="finalData.planlevel=='Story'" src="assets/images/story-icon.png" />
<img *ngIf="finalData.planlevel=='Task'" src="assets/images/task-icon.png" />
 <a [routerLink]="['/project',finalData.Project.ProjectName,finalData.TicketId.TicketId,commentData.Slug.$oid]" (click)="navigateToStoryDetail(finalData.Project,finalData.TicketId.TicketId,commentData.Slug.$oid)">#{{finalData.TicketId.TicketId}} {{finalData.Title}}<span class="heighlight"></span></a>
</div>
<div class="searchresultcontent" [innerHTML]="commentData.CrudeCDescription">
<span class="not_mention">
</span>
</div>
<div class="modifieddate">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.reportedby}}</span></div>
</div>

</div>
</div>


</div>
<div id="searchsection"></div>
</div>
</div>

</div>

</div>


