<div class="search">
<div class="searchresulttext">Search results for <span class="heighlight">{{searchString}}</span> in ProjectX</div>

  <div *ngFor="let searchData of searchArray">
 <div *ngFor=" let finalData of searchData">
   
      <div class="searchdiv">
         <div  *ngIf="finalData.description">
<div class="searchresulttitle">
<img *ngIf="finalData.planlevel=='Story'" src="assets/images/story-icon.png" />
<img *ngIf="finalData.planlevel=='Task'" src="assets/images/task-icon.png" />
 <a [routerLink]="['/story-detail',finalData.TicketId]" (click)="navigateToStoryDetail(finalData.TicketId)">#{{finalData.TicketId}} {{finalData.Title}}</a>
</div>
<div class="searchresultcontent"  [innerHTML]="finalData.description">
<span class="not_mention">
 </span>
</div>
<div class="modifieddate">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.reportedby}}</span></div>
</div>

    <div  *ngIf="!finalData.description">
        <div  *ngFor=" let commentData of finalData.comments">
<div class="searchresulttitle">
<img *ngIf="finalData.planlevel=='Story'" src="assets/images/story-icon.png" />
<img *ngIf="finalData.planlevel=='Task'" src="assets/images/task-icon.png" />
 <a [routerLink]="['/story-detail',finalData.TicketId,commentData.Slug.$oid]" (click)="navigateToStoryDetail(finalData.TicketId,commentData.Slug.$oid)">#{{finalData.TicketId}} {{finalData.Title}}<span class="heighlight"></span></a>
</div>
<div class="searchresultcontent" [innerHTML]="commentData.CrudeCDescription">
<span class="not_mention">
</span>
</div>
</div>
<div class="modifieddate">Last modified on <span>{{finalData.UpdatedOn}},</span> created by <span>{{finalData.reportedby}}</span></div>
</div>
</div>

</div>
</div>
<div id="searchsection"></div>
</div>


