.addtask_status p img{ display: none !important;}
.search{}.search .searchresulttext{border-bottom:solid 1px #f0f0f0;padding:10px 0px;font-size:16px;color:#000;margin-bottom:20px;font-weight:600;}
.search .searchdiv{padding:10px 0;border-bottom:1px dotted #ccc;}
.search .searchdiv .searchresulttitle a{color:#0199e0;font-size:16px;font-weight:600}
.search .searchdiv .searchresulttitle img{vertical-align:text-bottom}
.search .searchdiv .searchresultcontent{}
.search .searchdiv .modifieddate{font-size:12px;color:#7b7b7b;}
.search .searchdiv .modifieddate span{color:#0199e0}
.heighlight{background-color:#faf6d4;}
