<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
      <ion-buttons left>
      <img src="../../assets/images/logo.png"/>
    </ion-buttons>
      <ion-title center>My All Stories</ion-title>
    <ion-buttons right>
      <a ion-button icon-only (click)="openPopover($event)">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
    </ion-buttons>

  </ion-navbar>
</ion-header>
 <!---
        The below code is useful for  listing the stories
        author uday
      -->
<!--body content-->
<ion-content no-padding>
    <div style="padding:10px">
       
  <ion-list>
    <ion-item-sliding *ngFor="let item of arrayObject" (click)="openDetails(item)" no-padding>
      <ion-item id="{{item.id}}" text-wrap no-padding no-lines  style="background: #ff0000;margin-bottom:10px" >
       

          <!--first row-->
          <ion-row>
            
            <ion-col width-100>
                <img ng-src="" />
              #<b>{{item.id}}</b>{{item.title}}
            </ion-col>
          </ion-row>

          <!--second row-->
          <ion-row no-padding>
            <ion-col width-30>
              Status
            </ion-col>
            <ion-col width-30>
              Due date
            </ion-col>

            <ion-col width-30>
              Total story points
            </ion-col>

          </ion-row>

          <!--third row-->
          <ion-row no-padding>
            <ion-col width-30>
              <b>{{item.workflow}}</b>
            </ion-col>
            <ion-col width-30>
              <b>{{item.duedate}}</b>
            </ion-col>

            <ion-col width-30>
              <b>4</b>
            </ion-col>
          </ion-row>

          <!--fourth row-->

          <ion-row>
            <ion-col >
              Assignto
              <b>{{item.assignTo}}</b>
            </ion-col>
          </ion-row>

        
      </ion-item>
      <ion-item-options side="right" (ionSwipe)="openDetails(item)">
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
        
 </div>
  <div *ngIf="!moreDataLoaded" >
  <ion-title  text-center>Data not available.</ion-title>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content *ngIf="moreDataLoaded" loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>