<ion-content padding>
    <div>
        <div class="padding10trl"> </div>
        <div class="dashboardbox_header">
            <i class="{{taskDetails.type}}"></i>
            <span class="ticketid">#{{taskDetails.ticketId}}</span>
            <span id="title" *ngIf="!enableEdatable" (click)="titleEdit($event)" (blur)="text=el.innerText" class="tickettitle">{{taskDetails.title}}</span>
        </div>
       
        
</div>
    <div class="padding10">
            
        <div class="worklogdiv">
            <ul>
                <li><div class="twhdiv">Total worked hours</div></li>
                <li class="pull-right"><div class="totalworklog "><i aria-hidden="true" class="fa fa-clock-o timeclr"></i><span class="totalworklog_box">{{workedLogtime.TotalTimeLog}}</span></div></li>
            </ul>
           
           
        </div>

<div *ngFor="let logHourDetails of workedLogtime.individualLog">
     <div class="worklogindividuals">
                <ul>
                    <li>{{logHourDetails.readable_value.UserName}}</li><li class="pull-right">{{logHourDetails.sum}}</li>
                </ul>
            </div>
    
</div>
        <div class="worklogdiv">
<!--            <div class="worklogtextarea">
                <textarea>Description</textarea>
            </div>-->
            <div class="worklogdivbuttonarea">
                 <ul>
                    <li class="inputstyle"><input class="no_mar spinnerlabel" id="logHourDetails_input" [(ngModel)]="inputHourslog"
        type="number" min="0" inputmode="numeric" pattern="[0-9]+[\.]" step="0.01" title="Non-negative integral number" placeholder="0.00"></li><li class="pull-right"><button class="buttonicon submitbutton" (click)="inputWorkLog($event, i)"> <i aria-hidden="true" class="fa fa-paper-plane"></i></button></li>
                </ul>
                
            </div>
        </div>

        </div>
</ion-content>