             
             
 <div  class="dropdown-menu customdropdown-menutable customdropdown-menutablealignment del"  style="width:auto;" [style.display] = "boxId == selectedValue  ? 'block' : 'none'">
            <div class="delete_followersbgtable delete_followersbgtablesinglepop" >  
                Do you want to delete?
                <div class="text-center" style=" padding-top:10px">
                    <div class="yes" id="remove_yes" (click)="self[okAction]()" >YES</div>
                    <div class="no" (click)="self[cancelAction](-1)">NO</div>
        </div>
              </div>
 </div>
