
<ion-content class="globalsearch_content">
    <div class="leftpanelcust">Search result for <span class="heighlight">{{searchValue}}</span> in ProjectX.0</div>
<ion-list>
            <ion-item *ngFor="let item of dataCollection" (click)="openDetails(item)">
                    <div class="globalsearch_header">
                        <i class="{{item.planlevel}}"></i> <span class="ticketid">#{{item.TicketId}}</span> <span class="tickettitle">{{item.Title}}</span>
                    </div>
                <div>
                   <span class="ticketDesc">{{item.description}}</span> 
                </div>
                    <div class="globalsearch_content">
                        <div class="globalsearch_contentouterdiv">
                            <div class="collabels">Last modified on <span class="ticketDate">({{item.UpdatedOn}})</span>, Created by <span class="createdBy">{{item.reportedby}}</span></div>
                        </div>
                    </div>
            </ion-item>
</ion-list>
<!--    <div *ngIf="!moreDataLoaded" class="globalsearch_footer" style="text-align: center;"> That’s all. No results found. </div>-->

<!--udayadded-->

<div *ngIf="!moreDataLoaded" class="globalsearch_footer" style="text-align: center;">{{errorMessage}}</div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content *ngIf="moreDataLoaded" loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
