 <div type="submit" class="filter float_left marr10" id="advance_filter_icon" (click)="showFilterPanel()"><i class="fa fa-filter" aria-hidden="true"></i></div>
 
 <div *ngIf="showPanel" class="advance_filter_panel" >
<!--<div *ngFor="let filter of advanceFilter;let i=index;">
    <span>{{filter.type}}</span>
    <div *ngFor="let val of filter.filterValue;let j=index;">
        <span>{{val.label}}</span>

    </div>
</div>-->

<div class="arrowbox" id='advFilterPannel' style="max-height:300px;overflow:auto;">
    <div class="activity_hed text-center">ProjectX Filters</div>
  <div class="no_option_selected" *ngIf="filterSelectedError">  {{filterSelectedError}} </div>
<div *ngFor="let filter of advanceFilter;let i=index;" id="accordion" role="tablist" aria-multiselectable="true" class="clearfix">

    <div class="" role="tab" id="filter1">
       <div class="morebuckets">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1_{{i}}" aria-expanded="true" aria-controls="collapse1" >
          <span *ngIf="filter.type!='NoLabel'">{{filter.type}}</span> <i class="fa pull-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div  class="devider1"></div>
     <div   id="collapse1_{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
       <div *ngIf="filter.type=='DueDate'" class="marb10">
       <p-calendar [(ngModel)]="dateObj.dateVal" class="primeDateComponent filter_date"  [readonlyInput]="true" [minDate]="minDate" [showIcon]="true" dateFormat="M-dd-yy" (onSelect)="selectCustomDate($value,filter.type,i)" ></p-calendar>
      </div>
       <div *ngFor="let val of filter.filterValue;let j=index; ">
       <!--<div class="filter_but marr10 active">All</div>-->
       <div  class="{{(val.value.isChecked)?'filter_butactive':'filter_but'}} marr10 cursor_pointer" (click)="selectFilterOption(val.value,filter.type,i)">{{val.label}}</div>
       <!--<div *ngIf="filter.type=='Status'" class="{{(val.value.isChecked)?'filter_butactive':'filter_but'}} marr10" (click)="selectFilterOption(val.value,filter.type)">
         {{val.label}}
         </div>-->
       </div>
       
    </div>
  
  </div>
  <div class="clearfix"><input type="text" [(ngModel)]="filterName" placeholder="Save filter as..."  class="editinput" style="width:100%;"/>
  <div *ngIf="filterName=='' && filterError!=''" class="fielderror">{{filterError}}</div>

  </div>
  <div class="pull-right" style="margin-top:10px;">
    <div class="model_submit butnbor float_left marr10"  (click)="applyFilter('save')">SAVE</div> <div class="model_submit butnbor float_left" (click)="applyFilter('go')">GO</div>
  </div>
<div class="clearfix"></div>

</div>
 </div>