.stateStyle{
  color:#333;font-size:13px!important;

}
#editTimeReport{
  display:none;
}
#delete_timelog{
    display:none;
}
/*.timelogSuccessMsg{
   display:none;

}*/
#descriptionerr_msg{
    display:none;
}
.timeboxtitle{color:#637282;}
.timeboxlabel{color:#695ea5;text-transform: uppercase;}
.timereportdiv{background:#f7f9fa;padding:10px}
.timereportdiv ul{padding:0;margin:0;list-style: none}
.timereportdiv ul:after{content:"";display:block;clear:both}
.timereportdiv ul li{float: left; width: 100%; text-align: center; }
.timereportdiv ul li .timecountouter{position: relative;}
.timereportdiv ul li .timecountouter .timecount{background: #e8e8e8;padding:10px;
	border: 1px dashed #333;font-size:18px;font-weight:bold}
.timereportdiv ul li i{color:#637282;font-size:38px; margin-bottom:10px;}

.timewrapbox {
	position: relative;
	background: #ffffff;
        padding:7px 10px 5px;
        font-size:18px;font-weight:bold;
        color:#695ea5;
            display: inline-block;
            margin:auto;
            
}
.timewrapbox:after {
bottom: 100%;
	left: 40%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 8px;
	margin-top: -8px;
}
.timereportlabel{margin-bottom:0;display: block; color: #637282;
    font-family: "robotoregular";
    font-size: 14px;
    font-weight: normal;}
.paddingtop20{padding-top:19px}
.add{
    background: #695ea5 none repeat scroll 0 0;
    border-radius: 4px;
    cursor: pointer;
    display: table-cell;
    float: right;
    height: 30px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.add i{
    color: #fff;
}
.widgethedsub {
    color: #000;
    font-family: "robotoregular";
    font-size: 18px;
   
   
}

.paddingtop10{padding-top:10px}
.topdivider{border-top:1px solid #f4f4f4;margin: 5px 0 0;
    padding: 0;}
.paddingtop5{padding-top:5px}
.custom_menu .ui-widget-header .ui-button, .custom_menu .ui-widget-content .ui-button, .ui-button {
    background: #e8e8e8 none repeat scroll 0 0!important;
    border: 1px solid #f8f8f8!important;
    color: #333!important;
    transition: background-color 0.2s ease 0s;border-radius:0!important
}
.custom_menu  .ui-calendar.ui-calendar-w-btn input {
    border-bottom-right-radius: 0!important;
     border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;

}

#taskerr_msg{
     display:none;
}
#hoursErrMsg{
   display:none; 
}
.customformfieldstextarea{
    resize: none;
    height:120px;

}
.datatable-body-row:hover{ background: #fff!important;}
.datatable-body-row:focus{ background: #fff!important;}
#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}
 
.flash-message
{
    z-index: 10000;
    position: relative;
}

.primeDateComponent button{left:100%!important;}


